@import '../../../../base/variables';
fieldset {
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
    color: black;
    &.type-what {
        border: 1px solid lightgrey;
        background-color: white;
    }
    &.type-other {
        border: 1px solid darkgray;
        background-color: lightgrey;
    }
    &.EDITING {
        border: 1px solid #856404;
        background-color: #fff3cd;
    }
    &.VISIBLE {
        border: 1px solid darkgreen;
        background-color: lightgreen;
    }
    &.DELETED {
        color: lightgrey !important;
        border: 1px solid black;
        background-color: #202020;
    }
    &.BLOCKED {
        border: 1px solid darkred;
        background-color: lightcoral;
    }
    legend {
        float: left;
        font-size: smaller;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .buttons {
        margin: -20px;
        // button {
        //     position: absolute;
        //     right: -5px;
        //     bottom: -5px;
        // }
    }
    .mat-accordion {
        float: left;
        width: 100%;
        border: 1px solid darkgray;
        background-color: lightgrey;
    }
}