<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="event; else noEventTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <app-event-image-detail [event]="event"></app-event-image-detail>

                <div class="buttons buttons-center">

                    <button mat-fab class="btn-1" (click)="openEventImageDialog()">
                        <mat-icon>photo_view</mat-icon>
                    </button>

                    <button [disabled]="event.status !== 'VISIBLE'" mat-fab class="btn-1" (click)="gotoItemView()">
                        VER
                    </button>

                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <fieldset class="event-item-detail type-what">

                        <legend>¿Qué?</legend>

                        <app-event-basic-detail [event]="event"></app-event-basic-detail>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openEventBasicDialog()">
                              <mat-icon>edit</mat-icon>
                          </button>
                        </div>

                    </fieldset>

                    <fieldset class="event-item-detail" [ngClass]="event.status">

                        <legend>¿Estado?</legend>

                        <app-event-status-detail [event]="event"></app-event-status-detail>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openEventStatusDialog()">
                                <mat-icon>settings</mat-icon>
                            </button>
                        </div>

                    </fieldset>


                    <fieldset class="event-item-detail type-other">

                        <legend>¿Cuándo?</legend>

                        <!--
                        <app-event-appointment-detail *ngIf="appointment$ | async as appointment" [showImage]="true" [appointment]="appointment"></app-event-appointment-detail>
                        -->

                        <mat-button-toggle-group *ngIf="appointment$ | async as appointment" [formControl]="shownAsAWholeControl" aria-label="Mostrado como un todo">
                            <mat-button-toggle value="true" (change)="onValShownAsAWholeChange($event.value)">El evento se celebra {{appointment.description}}</mat-button-toggle>
                            <mat-button-toggle *ngIf="event.scheduleItems?.length > 0" value="false" (change)="onValShownAsAWholeChange($event.value)">A partir de la información de sus actos (actualmente {{ event.scheduleItems?.length }})</mat-button-toggle>
                        </mat-button-toggle-group>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openAppointmentDialog()">
                                <mat-icon>book_online</mat-icon>
                            </button>
                        </div>

                    </fieldset>


                    <fieldset class="event-item-detail type-other">

                        <legend>¿Cómo?</legend>

                        <sh-base-items-table [baseItems]="event.scheduleItems" [baseType]="baseType" [modeAdmin]="true" (changeOrderBase)="changeOrderScheduleItem($event)" (addBase)="addScheduleItem($event)" (deleteBase)="deleteScheduleItem($event)" (editBase)="editScheduleItem($event)"
                            (deleteForeverBase)="deleteForeverScheduleItem($event)"></sh-base-items-table>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openScheduleDialog('')" color="accent">
                                <mat-icon>alarm_add</mat-icon>
                            </button>
                        </div>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Dónde?</legend>

                        <sh-base-items-list [baseItems]="event.placeItems" [order]="'columns'"></sh-base-items-list>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openPlaceDialog()" color="accent">
                                <mat-icon>add_location_alt</mat-icon>
                            </button>
                        </div>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Quiénes?</legend>

                        <sh-base-items-list [baseItems]="event.entityItems" [order]="'columns'"></sh-base-items-list>

                        <div class="buttons">
                            <button mat-fab class="btn-1" (click)="openEntityDialog()" color="accent">
                                <mat-icon>person_add</mat-icon>
                            </button>
                        </div>

                    </fieldset>

                    <fieldset class="event-audit-detail type-other">

                        <legend>¿Audit?</legend>

                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Auditoría de la administración
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <sh-base-items-list [baseItems]="event.auditItems"></sh-base-items-list>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </fieldset>

                </mat-card-content>

                <mat-card-actions>
                    <!--- todo if needed: buttons -->
                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noEventTemplate>
    ¡No existe este evento!
</ng-template>
