<h1 class="alert alert-primary" *appRole="['AUTOR', 'ADMIN', 'SUPER']">Creación de eventos</h1>

<div class="options-wrapper mb-3">

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card *appRole="['AUTOR', 'ADMIN', 'SUPER']" (click)="gotoNewEventFromScratch()">
            <mat-card-title>Evento desde cero</mat-card-title>
            <div class="option-image">
                <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-scratch.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card *appRole="['AUTOR', 'ADMIN', 'SUPER']" (click)="openEntityDialog()">
            <mat-card-title>Evento de entidad</mat-card-title>
            <div class="option-image">
                <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-entities.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div *ngIf="currentUser?.entityDefault" class="option-item col-12 col-sm-6 col-md-3">
        <mat-card class="" *appRole="['AUTOR', 'ADMIN', 'SUPER']" (click)="createEventFromEntity(currentUser.entityDefault)">
            <mat-card-title>Evento de ...</mat-card-title>
            <div class="option-image">
                <img alt="'Crear evento'" [src]="currentUser.entityDefault.imagePath" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div *ngIf="currentUser?.entityDefault" class="option-item col-12 col-sm-6 col-md-3">
        <mat-card (click)="gotoEventsDashboard()">
            <mat-card-title>Tus Eventos</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Eventos'" [src]="'assets/images/goto/goto-events.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

</div>


<h1 class="alert alert-primary" *appRole="['ADMIN', 'SUPER']">Mantenimientos</h1>

<div class="options-wrapper mb-3" *appRole="['ADMIN', 'SUPER']">

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card (click)="gotoUsersDashboard()">
            <mat-card-title>Panel de Usuarios</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Usuarios'" [src]="'assets/images/goto/goto-users.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card (click)="gotoEntitiesDashboard()">
            <mat-card-title>Panel de Entidades</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Entidades'" [src]="'assets/images/goto/goto-entities.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card (click)="gotoPlacesDashboard()">
            <mat-card-title>Panel de Lugares</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Lugares'" [src]="'assets/images/goto/goto-places.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-3">
        <mat-card (click)="gotoPicturesDashboard()">
            <mat-card-title>Panel de Imágenes</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Imágenes'" [src]="'assets/images/goto/goto-pictures.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

</div>


<h1 class="alert alert-primary" *appRole="['ADMIN', 'SUPER']">Tableros (eventos, noticias y avisos)</h1>

<div class="options-wrapper mb-3" *appRole="['ADMIN', 'SUPER']">


    <div class="option-item col-12 col-sm-6 col-md-4">
        <mat-card (click)="gotoEventsDashboard()">
            <mat-card-title>Panel de Eventos</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Eventos'" [src]="'assets/images/goto/goto-events.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-4">
        <mat-card (click)="gotoNoticesDashboard()">
            <mat-card-title>Panel de Avisos</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Avisos'" [src]="'assets/images/goto/goto-notices.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-6 col-md-4">
        <mat-card (click)="gotoLinksDashboard()">
            <mat-card-title>Panel de Enlaces</mat-card-title>
            <div class="option-image">
                <img alt="'Panel de Enlaces'" [src]="'assets/images/goto/goto-links.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

</div>


<h1 class="alert alert-primary">Tus opciones en la web</h1>


<div class="options-wrapper">

    <div class="option-item col-12 col-sm-4">
        <mat-card *appRole="['LECTOR','AUTOR', 'ADMIN', 'SUPER']" (click)="gotoHome()">
            <mat-card-title>¡Disfrutar de la Web!</mat-card-title>
            <div class="option-image">
                <img alt="'Ir al inicio'" [src]="'assets/images/goto/goto-calendar-home.jpg'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-4">
        <mat-card *appRole="['LECTOR','AUTOR', 'ADMIN', 'SUPER']" (click)="gotoDashboard()">
            <mat-card-title>Ver el tablero de eventos, avisos y noticias</mat-card-title>
            <div class="option-image">
                <img alt="'Ir al dashboard'" [src]="'assets/images/goto/goto-calendar-dashboard.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

    <div class="option-item col-12 col-sm-4">
        <mat-card *appRole="['LECTOR','AUTOR', 'ADMIN', 'SUPER']" (click)="gotoFavourites()">
            <mat-card-title>Suscribirte a tus eventos Favoritos</mat-card-title>
            <div class="option-image">
                <img alt="'Añadir Favoritos'" [src]="'assets/images/goto/goto-favourites.png'" style="width:200px" class="img-thumbnail" />
            </div>
        </mat-card>
    </div>

</div>
