@import '../../../../base/variables';
mat-card.login-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: $maxMobileWidth) {
        width: 300px;
    }
    @media screen and (min-width: $minTabletWidth) {
        width: 460px;
    }
    height: 100%;
    margin: auto;
    .login-container__title {
        order: 1;
        width: 100%;
        margin-top: 0px;
    }
    .login-container__form {
        order: 2;
        width: 100%;
        margin: 30px 0px;
        mat-form-field {
            width: 100%;
            .server-error {
                margin: 8px 0;
                ;
            }
            input {
                height: 2em;
                div.mat-form-field-infix {
                    padding: .3em 0;
                    input.mat-input-element {
                        vertical-align: top;
                    }
                }
            }
            div.mat-form-field-wrapper {
                padding-bottom: 1.15em;
            }
        }
    }
    .login-container__button {
        order: 3;
        width: 100%;
        >button {
            width: 100%;
            padding: 10px;
            border: 1px solid $color1;
        }
    }
}
