<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="event; else loadingTemplate">

        <div *ngIf="event.status === 'VISIBLE'; else noVisibleTemplate" class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <app-event-image-detail [imagePath]="event.imagePath"></app-event-image-detail>
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <fieldset class="type-social">

                        <!--
                        <legend>¡Comparte!</legend>
                        -->

                        <div class="buttons" *ngIf="eventSocial">

                            <img [src]="'assets/svg/twitter.svg'" (click)="shareLink('twitter')" class="share-button">
                            <img [src]="'assets/svg/facebook.svg'" (click)="shareLink('facebook')" class="share-button">
                            <img [src]="'assets/svg/whatsapp.svg'" (click)="shareLink('whatsapp')" class="share-button">

                            <span class="share-button">
                            </span>

                            <div class="fav-button" *ngIf="eventComments$ | async as eventComments" [ngSwitch]="eventComments.comments">
                                <button [matBadge]="eventComments.length" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_COMMENTS + ')'" (click)="viewComments()"></button>
                            </div>

                            <div class="fav-button" *ngIf="userLogged">

                                <button *ngIf="eventSocial.usersFavs && (eventSocial.usersFavs?.indexOf(userLogged.uid) !== -1); else noFavTemplateButton" [matBadge]="eventSocial.usersFavs.length" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_ON + ')'"
                                    (click)="isFavorite(false)"></button>

                                <ng-template #noFavTemplateButton>
                                    <button [matBadge]="eventSocial.usersFavs.length" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_OFF + ')'" (click)="isFavorite(true)"></button>
                                </ng-template>

                            </div>


                            <div class="fav-button" *ngIf="userLogged">

                                <button *ngIf="applause; else noClapTemplateButton" (click)="clap(applause)" [matBadge]="eventSocial.nClaps" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_CLAP_ON + ')'"></button>

                                <ng-template #noClapTemplateButton>
                                    <button (click)="clap(applause)" [matBadge]="eventSocial.nClaps" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_CLAP_OFF + ')'"></button>
                                </ng-template>

                            </div>

                        </div>

                    </fieldset>

                    <fieldset>

                        <!--
                        <legend>¿Qué?</legend>
                        -->

                        <app-event-basic-detail [event]="event"></app-event-basic-detail>

                    </fieldset>

                    <fieldset class="type-other">

                        <legend>¿Cuándo?</legend>

                        <app-event-appointment-detail *ngIf="appointment$ | async as appointment" [showImage]="true" [appointment]="appointment"></app-event-appointment-detail>

                    </fieldset>

                    <fieldset class="type-other" *ngIf="event.scheduleItems?.length > 0">

                        <legend>¿Cómo?</legend>

                        <sh-base-items-list [baseItems]="event.scheduleItems" [baseItemSelected]="idEventUrl"></sh-base-items-list>

                    </fieldset>

                    <fieldset class="type-other" *ngIf="event.entityItems?.length > 0">

                        <legend>¿Quiénes?</legend>

                        <sh-base-items-list [baseItems]="event.entityItems"></sh-base-items-list>

                    </fieldset>

                    <fieldset class="type-other" *ngIf="event.placeItems?.length > 0">

                        <legend>¿Dónde?</legend>

                        <sh-base-items-list [baseItems]="event.placeItems"></sh-base-items-list>

                    </fieldset>

                    <fieldset class="type-other" *ngIf="event.linkItems?.length > 0">

                        <legend>Más info</legend>

                        <sh-base-items-table [baseItems]="event.linkItems" [baseType]="'LINK'" [modeAdmin]="false">
                        </sh-base-items-table>

                    </fieldset>

                </mat-card-content>

                <mat-card-actions class="buttons">

                    <button *ngIf="configAllowed" mat-fab class="btn-1" (click)="configItem()">
                        <mat-icon>build</mat-icon>
                    </button>

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>


<ng-template #noVisibleTemplate>
    <fieldset *ngIf="configAllowed" [ngClass]="event.status">
        <app-event-status-detail [event]="event"></app-event-status-detail>
    </fieldset>

    <mat-card-actions class="buttons buttons-right">
        <button *ngIf="configAllowed" mat-fab class="btn-extra" (click)="configItem()">
          <mat-icon>build</mat-icon>
      </button>
    </mat-card-actions>
</ng-template>


<ng-template #loadingTemplate>
    Cargando este evento...
</ng-template>
