<app-section-header [title]="'Panel de Configuración de Usuarios'"></app-section-header>

<div class="section-wrapper">

    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="role">
                <th mat-header-cell class="td-extra" *matHeaderCellDef>Rol</th>
                <td [class]="element.role" class="td-extra" mat-cell *matCellDef="let element">
                    <div class="inside">{{ element.role }}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="gotoUser(element)" [src]="element.photoURL" class="img-thumbnail" alt="element.displayName">
                </td>
            </ng-container>

            <ng-container matColumnDef="uid">
                <th mat-header-cell class="td-extra" *matHeaderCellDef>Uid.</th>
                <td mat-cell class="td-extra" *matCellDef="let user">{{ user.uid }}</td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell class="td-extra" *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell class="td-extra" *matCellDef="let user">{{ user.displayName }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell class="td-extra" *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell class="td-extra" *matCellDef="let user">{{ user.email }}</td>
            </ng-container>

            <ng-container matColumnDef="entities">
                <th mat-header-cell class="td-extra" *matHeaderCellDef mat-sort-header>Entidades Administradas</th>
                <td [ngClass]="user.role" mat-cell class="td-extra" *matCellDef="let user">
                    <div *ngIf="user.role === 'ADMIN' || user.role === 'SUPER' || user.role === 'CENSOR'">
                        <mat-icon>grid_on</mat-icon><br/><span>todas</span>
                    </div>
                    <div *ngIf="user.role === 'AUTOR'">
                        <img *ngFor="let entity of user.entitiesAdmin" [src]="entity.image" class="img-thumbnail" alt="entity.name">
                    </div>
                    <div *ngIf="user.role === 'LECTOR'">
                        <mat-icon>grid_off</mat-icon>
                        <br/><span>ninguna</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions3">
                <th mat-header-cell class="td-extra" *matHeaderCellDef>Acciones</th>
                <td mat-cell class="td-extra" *matCellDef="let user">
                    <button mat-icon-button matTooltip="Click to View" class="iconbutton" color="accent" (click)="gotoUser(user)">
                  <mat-icon aria-label="View">remove_red_eye</mat-icon>
                </button>

                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="accent" (click)="gotoItemAdmin(user)">
                  <mat-icon aria-label="Edit">build_circle</mat-icon>
                </button>

                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="accent" (click)="deleteUser(user)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="collapsed-info">
                <th mat-header-cell class="td-collapsed-info" *matHeaderCellDef mat-sort-header>Info del Usuario</th>
                <td mat-cell class="td-collapsed-info" [class]="item.role" *matCellDef="let item" (click)="gotoItem(item)">
                    <div class="inside"></div>
                    <div style="font-size: smaller;color:gray">
                        {{ item.email }}
                    </div>
                    {{ item.displayName }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

    </div>

    <div class="text-center m-3">
        <button mat-fab type="button" (click)="addItem()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>

</div>
