@import '../../../../base/variables';
.stories-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    background-color: $color2;
    img {
        &.NEWS_ITEM,
        &.LINK {
            border: 1px solid $colorLinkFront;
            background-color: $colorLinkBack;
        }
        &.NOTICE {
            border: 1px solid $colorNoticeFront;
            background-color: $colorNoticeBack;
        }
        &.EVENT {
            border: 1px solid $colorEventFront;
            background-color: $colorEventBack;
        }
    }
}

@media screen and (max-width: $maxMobileWidth) {
    .stories-wrapper {
        height: 80px;
        img {
            margin: 5px;
            border-radius: 16%;
            width: 60px;
            padding: 4px;
        }
    }
}

@media screen and (min-width: $minTabletWidth) {
    .stories-wrapper {
        height: 100px;
        img {
            margin: 10px;
            border-radius: 16%;
            width: 80px;
            padding: 4px;
        }
    }
}
