@import '../../../../base/variables';
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: $color2;
    padding: 0px !important;
    border-radius: 24px;
    .cointainer__superevent {
        //.mat-toolbar {
        color: $color2;
        background-color: $color1 !important;
        margin-bottom: 30px;
        .logo {
            font-size: 1.2em;
            cursor: pointer;
            outline: none;
            img {
                height: 70px;
                width: 70px;
                background-color: $color2;
                border: 1px solid $color1;
                padding: 4px;
                margin-right: 10px;
                margin-left: -30px;
            }
        }
        .logo-title {
            color: $color2;
        }
    }
    .container-event {
        display: flex;
        align-items: flex-start;
        .container-event__figure {
            max-height: 200px;
            flex-grow: 1;
            width: 100%;
        }
        .container-event__texts {
            background-color: $color2;
            flex-grow: 1;
            width: 100%;
        }
        .title {
            display: block;
            color: $color2;
            background-color: $color1;
            padding: 10px;
            margin-bottom: 10px;
        }
        .data {
            font-family: monospace;
            text-align: right;
            margin-bottom: 0px;
        }
        .desc {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .container-event {
        flex-direction: column;
        justify-content: center;
        outline: red 1px solid;
    }
    .title {
        font-size: inherit;
    }
    .data {
        font-size: inherit;
    }
    .mat-toolbar {
        .logo-title {
            font-size: inherit;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .container-event {
        flex-direction: row;
        justify-content: center;
        outline: orange 1px solid;
        .container-event__figure {
            max-height: 300px;
            flex-grow: 1;
        }
    }
    .title {
        font-size: medium;
    }
    .data {
        font-size: medium;
    }
    .mat-toolbar {
        .logo-title {
            font-size: medium;
        }
    }
}

@media screen and (min-width: 901px) {
    .container-event {
        flex-direction: row;
        justify-content: center;
        outline: blue 1px solid;
        .container-event__figure {
            max-height: 500px;
            flex-grow: 1;
        }
    }
    .title {
        font-size: large;
    }
    .data {
        font-size: large;
    }
    .mat-toolbar {
        .logo-title {
            font-size: large;
        }
    }
}
