<div class="base-container">

    <div *ngIf="superEventBase">

        <mat-toolbar class="mat-elevation-z8" color="primary" (click)="gotoSuperEvent()">
            <span class="logo">
                <img [src]="superEventBase.image" [alt]="superEventBase.name" class="rounded-circle" />
            </span>

            <span class="logo-title">
                {{ superEventBase.name }}
            </span>
        </mat-toolbar>

    </div>

    <div class="row">

        <div class="col-3 col-md-4 col-sm-12" style="text-align: center;">
            <img [src]="eventItem.image" class="img-thumbnail">
        </div>

        <div class="col-9 col-md-8 col-sm-12">
            <span class="title">{{ eventItem.name }}</span>
            <div class="data">{{ eventItem.timestamp | date:'EEEE, d \'de\' MMMM hh:mm' }} 🕑</div>
            <div class="data" *ngIf="eventItem.place">{{ eventItem.place?.name }} 🏠</div>

            <div class="desc" [innerHTML]="eventItem.description">
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="buttons">
            <button *ngIf="btnView" mat-fab class="btn-1" (click)="onBtnViewClick()">
                <mat-icon>arrow_forward_ios</mat-icon>
          </button>

            <button *ngIf="btnClose" mat-fab class="btn-1" (click)="onBtnCloseClick()">
                <mat-icon>close</mat-icon>
          </button>
        </div>
    </div>

</div>
