@import '../../../../base/variables';
.base-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        margin: 10px;
    }
    .mat-toolbar {
        color: $color2;
        background-color: $color1 !important;
        margin-bottom: 30px;
        .logo {
            font-size: 1.2em;
            cursor: pointer;
            outline: none;
            img {
                height: 70px;
                width: 70px;
                background-color: $color2;
                border: 1px solid $color1;
                padding: 4px;
                margin-right: 10px;
                margin-left: -30px;
            }
        }
        .logo-title {
            color: $color2;
        }
    }
    .title {
        display: block;
        color: $color2;
        background-color: $color1;
        padding: 10px;
        margin: 10px 0px 10px 0px;
    }
    .data {
        font-family: monospace;
        text-align: right;
        margin-bottom: 0px;
    }
    .desc {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .title,
    .data {
        font-size: medium;
    }
    .mat-toolbar {
        .logo-title {
            font-size: medium;
        }
    }
}

@media screen and (min-width: 601px) {
    .title {
        font-size: x-large;
    }
    .data {
        font-size: large;
    }
    .mat-toolbar {
        .logo-title {
            font-size: x-large;
        }
    }
}
