<div *ngIf="baseItems.length > 0; else noBaseItemsTemplate" class="list">

    <div *ngFor="let baseItem of baseItems" style="margin-bottom: 0px;flex-grow: 1;">

        <div *ngIf="baseItem" [ngClass]="{
            'list__item': (baseItem.active),
            'list__item--disabled' : !(baseItem.active),
            'list__item--selected' : (baseItem.id === baseItemSelected)
          }">

            <div class="list__item-header">

                <img (click)="viewImage(baseItem)" [src]="baseItem.imagePath" class="list__item-img img-thumbnail">

                <div class="list__item-info-main">
                    <span class="name">{{ baseItem.name }}</span>
                    <span *ngIf="baseItem.extra" class="extra-data">🕑 {{ baseItem.extra }}</span>
                    <span *ngIf="baseItem.place" class="extra-data">📍 {{ baseItem.place?.name }}</span>
                </div>

            </div>


            <div *ngIf="baseItem.description" class="list__item-description" [innerHtml]="baseItem.description">

            </div>

            <button *ngIf="modeAdmin === true" class="list__item-button-delete iconbutton" mat-icon-button matTooltip="Click to Delete" (click)="deleteBaseItem(baseItem)">
                <mat-icon class="btn-1" aria-label="Delete">
                    remove_circle_outline
                </mat-icon>
            </button>

        </div>

    </div>

</div>

<ng-template #noBaseItemsTemplate>
    No hay elementos asociados
</ng-template>