<div *ngIf="baseItems.length > 0; else noBaseItemsTemplate" class="items__container">

    <div *ngFor="let baseItem of baseItems">

        <section *ngIf="baseItem" [ngClass]="{
            'item': (baseItem.active),
            'item--disabled' : !(baseItem.active),
            'item--selected' : (baseItem.id === baseItemSelected)
          }">

            <div class="item-image" href="#">
                <img (click)="viewImage(baseItem)" [src]="baseItem.imagePath" class="square img-thumbnail">
            </div>

            <div class="item-body">
                <div class="item-heading-extra">{{ baseItem.name }}</div>
                <div *ngIf="baseItem.extra" class="item-data">🕑 {{ baseItem.extra }}</div>
                <div *ngIf="baseItem.place" class="item-data">📍 {{ baseItem.place?.name }}</div>
                <div *ngIf="baseItem.description && (baseItem.description !== 'Rincón de Soto')" class="item-text" [innerHtml]="baseItem.description"></div>
            </div>

            <button *ngIf="modeAdmin === true" class="item-button-delete iconbutton" mat-icon-button matTooltip="Click to Delete" (click)="deleteBaseItem(baseItem)">
                <mat-icon class="btn-1" aria-label="Delete">
                    remove_circle_outline
                </mat-icon>
            </button>

        </section>

    </div>

</div>

<ng-template #noBaseItemsTemplate>
    No hay elementos asociados
</ng-template>
