@import '../../../../base/variables';
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 4px;
    width: 100%;
    .list__item--disabled {
        display: none;
    }
    .list__item--selected,
    .list__item {
        margin-bottom: 4px;
        // min-width: 400px;
        flex-grow: 1;
        padding: 6px;
        border-radius: 10px;
        margin: 2px;
        padding-bottom: 40px; // <!-- TODO: comprobar
        .list__item-img {
            width: 54px;
            height: 54px;
        }
        .list__item-info {
            margin-bottom: 0px;
            .extra-data,
            .name {
                display: block;
                text-transform: uppercase;
            }
            .extra-data {
                color: $colorExtraData;
                font-size: smaller;
            }
            .name {
                color: $colorTitleData;
                font-weight: bolder;
            }
        }
        .list__item-button-delete {
            float: right;
            margin-top: -20px;
            color: $color1;
        }
    }
}

.list__item--selected {
    background-color: $color2 !important;
    border: 5px solid $color1;
    .list__item-img {
        border: 3px solid $color1;
    }
    .list__item-info {
        .name {
            font-size: larger;
        }
    }
}

.list__item {
    background-color: $color2;
}

@media screen and (max-width: 450px) {
    span.name {
        font-size: small;
    }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
    span.name {
        font-size: medium;
    }
}

@media screen and (min-width: 601px) {
    span.name {
        font-size: larger;
    }
}

@media screen and (max-width: 800px) {
    .list {
        flex-direction: column;
    }
}

@media screen and (min-width: 801px) {
    .list {
        flex-direction: row;
    }
}
