@import '../../../../base/variables';
.container-items {
    margin: 4px 0px;
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.1);
        padding: 5px;
        margin-bottom: 10px;
        .item-image {
            img {
                border-radius: 50%;
                max-width: 40px; // 100px for big devices
            }
        }
        .item-body {
            padding-left: 10px;
            font-size: smaller;
            width: 100%;
            .item-timestamp {
                color: $color1;
                font-size: smaller;
            }
            .item-heading {
                color: $color1;
                background-color: $color2;
                font-weight: bolder;
                font-size: 0.8rem;
                border-radius: 10px;
                padding-left: 10px;
            }
            .item-name {
                margin: 6px 4px;
                font-size: small;
            }
            .item-message {
                margin-top: 0.3rem;
                font-size: 0.8rem;
                text-align: left;
            }
            .item-button-delete {
                float: right;
                margin-top: 10px;
                margin-right: -12px;
                color: $color1;
            }
        }
    }
}
