<app-section-header [title]="'Creación de eventos en la aplicación'"></app-section-header>


<div class="options-wrapper" *ngIf="role">

    <div style="margin-top:30px">
        <h1>Con tu rol de <span style="text-transform: lowercase;font-weight: bolder;">{{ role }}</span> puedes crear eventos:</h1>
    </div>

    <mat-card class="option-item" *ngIf="(role != 'LECTOR') && (role != 'AUTOR')" (click)="gotoNewEventFromScratch()">
        <mat-card-title>Evento desde cero</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-scratch.png'" style="width:200px" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" *ngIf="(role != 'LECTOR')" (click)="openEntityDialog()">
        <mat-card-title>Evento de entidad</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-entities.png'" style="width:200px" class="img-thumbnail" />
        </div>
    </mat-card>

</div>