<div class="container">
    <div class="large-title">
        <span>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</span>
    </div>

    <div class="title">

        <div class="title__nav buttons">
            <button mat-mini-fab class="btn-1" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <mat-icon>arrow_back</mat-icon>
        </button>

            <button mat-mini-fab class="btn-1" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            HOY
        </button>

            <button mat-mini-fab class="btn-1" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        </div>

        <div class="title__name">
            <span>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</span>
        </div>


        <div class="title__mode buttons">
            <!--
            <button mat-mini-fab class="btn-1" (click)="viewChange.emit(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Mes
            </button>

            <button mat-mini-fab class="btn-1" (click)="viewChange.emit(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Sem
            </button>

            <button mat-mini-fab class="btn-1" (click)="viewChange.emit(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Día
            </button>
            -->

            <mat-form-field class="sel-view-mode" appearance="fill">
                <mat-label>Modo {{ view }}</mat-label>
                <mat-select [(value)]="view" panelClass="example-panel">
                    <mat-option value="CalendarView.Month" (click)="viewChange.emit(CalendarView.Month)">Mes</mat-option>
                    <mat-option value="CalendarView.Week" (click)="viewChange.emit(CalendarView.Week)">Sem</mat-option>
                    <mat-option value="CalendarView.Day" (click)="viewChange.emit(CalendarView.Day)">Día</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-mini-fab class="btn-1" (click)="gotoEventSearch()">
                <mat-icon>search</mat-icon>
            </button>

        </div>

    </div>
</div>
