@import '../../../base/variables';
.container {
    margin-top: -30px;
    margin-bottom: 10px;
    .large-title {
        text-align: center;
        color: $color1;
        text-transform: uppercase;
        font-size: x-large;
        font-weight: bolder;
    }
    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        .title__nav {
            order: 1;
        }
        .title__name {
            order: 2;
            color: $color1;
            text-transform: uppercase;
            font-size: larger;
            font-weight: bolder;
        }
        .title__mode {
            order: 3;
        }
    }
}

@media screen and (max-width: 350px) {
    .title__mode {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .header-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .title__name {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .large-title {
        display: none;
    }
}

.sel-view-mode {
    width: 120px;
    margin-right: 24px;
}
