<app-section-header [title]="'Panel de Configuración de Eventos'" showStatusFilter="true" showViewMode="true" (viewMode)="setViewMode($event)" (statusFiltered)="setStatusFiltered($event)"></app-section-header>

<div class="section-wrapper">
    <sh-events-table [addEvent]="true" [events]="events" [title]="'Panel de Configuración de Eventos'" [viewMode]="viewMode" [displayedColumns]="displayedColumns" (deleteEvent)="deleteEvent($event)" (deleteForeverEvent)="deleteForeverEvent($event)"></sh-events-table>
</div>
