<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="event; else noEventTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <app-event-image-detail [event]="event"></app-event-image-detail>

                <button mat-fab type="button" (click)="openEventImageDialog()" color="accent">
                  <mat-icon>photo_view</mat-icon>
                </button>

                <button [disabled]="event.status !== 'VISIBLE'" mat-fab type="button" (click)="gotoItemView()" color="accent">
                  <mat-icon>visibility</mat-icon>
                </button>

            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <fieldset class="event-item-detail type-what">

                        <legend>¿Qué?</legend>

                        <button mat-fab type="button" (click)="openEventBasicDialog()" color="accent">
                      <mat-icon>edit</mat-icon>
                    </button>

                        <app-event-basic-detail [event]="event"></app-event-basic-detail>

                    </fieldset>

                    <fieldset class="event-item-detail" [ngClass]="event.status">

                        <legend>¿Estado?</legend>

                        <button mat-fab type="button" (click)="openEventStatusDialog()" color="accent">
                    <mat-icon>settings</mat-icon>
                  </button>

                        <app-event-status-detail [event]="event"></app-event-status-detail>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Cuándo?</legend>

                        <button mat-fab type="button" (click)="openAppointmentDialog()" color="accent">
                          <mat-icon>book_online</mat-icon>
                        </button>

                        <app-event-appointment-detail *ngIf="appointment$ | async as appointment" [showImage]="true" [appointment]="appointment"></app-event-appointment-detail>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Cómo?</legend>

                        <button mat-fab type="button" (click)="openScheduleDialog('')" color="accent">
                          <mat-icon>alarm_add</mat-icon>
                        </button>

                        <sh-base-items-table [baseItems]="event.scheduleItems" [baseType]="baseType" (changeOrderBase)="changeOrderScheduleItem($event)" (addBase)="addScheduleItem($event)" (deleteBase)="deleteScheduleItem($event)" (editBase)="editScheduleItem($event)"></sh-base-items-table>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Dónde?</legend>

                        <button mat-fab type="button" (click)="openPlaceDialog()" color="accent">
                          <mat-icon>add_location_alt</mat-icon>
                        </button>

                        <sh-base-items-list [baseItems]="event.placeItems"></sh-base-items-list>

                    </fieldset>

                    <fieldset class="event-item-detail type-other">

                        <legend>¿Quiénes?</legend>

                        <button mat-fab type="button" (click)="openEntityDialog()" color="accent">
                          <mat-icon>person_add</mat-icon>
                        </button>

                        <sh-base-items-list [baseItems]="event.entityItems"></sh-base-items-list>

                    </fieldset>

                    <fieldset class="event-audit-detail type-other">

                        <legend>¿Audit?</legend>

                        <sh-base-items-list [baseItems]="event.auditItems"></sh-base-items-list>

                    </fieldset>

                </mat-card-content>

                <mat-card-actions>

                    <div>

                        <!--
                        <button [disabled]="event.status !== 'VISIBLE'" mat-fab type="button" (click)="gotoItemView()" color="accent">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      -->

                    </div>

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noEventTemplate>
    <app-loading></app-loading>
</ng-template>
