<app-section-header *ngIf="entity$ | async as entity" [title]="entity.name + ' | Rincón de Soto'"></app-section-header>

<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="entity$ | async as entity; else noEntityTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="entity.imagePath" class="entity-image img-thumbnail">
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-actions class="buttons buttons-center">

                    <div class="fav-button" *ngIf="userLogged">

                        <button *ngIf="userLogged.favEntities?.includes(entity.id); else noFavTemplateButton" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_ON + ')'" (click)="setFav(false)"></button>

                        <ng-template #noFavTemplateButton>
                            <button mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_OFF + ')'" (click)="setFav(true)"></button>
                        </ng-template>

                    </div>

                    <div class="fav-button">
                        <button *appRole="['ADMIN', 'SUPER']" mat-mini-fab class="btn-1" (click)="editItem()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                </mat-card-actions>

            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content>

                    <mat-tab-group>

                        <mat-tab class="tab-card-detail" label="Eventos">

                            <div *ngIf="nextEvents$ | async as nextEvents">

                                <div *ngIf="nextEvents.length === 0" class="alert alert-warning text-center items__container">
                                    De momento, no hay eventos programados
                                </div>

                                <div *ngFor="let event of nextEvents; index as i" class="items__container">

                                    <div *ngIf="i===0" class="item--title">
                                        🔜​ Próximo evento
                                    </div>

                                    <section (click)="clickItem(event)" class="item" [ngClass]="{'item--marked' : (i === 0)}">

                                        <div class="item-image" href="#">
                                            <img class="square img-thumbnail" [src]="event.imagePath" [alt]="event.name">
                                        </div>
                                        <div class="item-body">
                                            <div class="item-heading"> {{event.name}}</div>
                                            <div *ngIf="event.extra" class="item-data">
                                                <span class="icon">🕑</span> {{ event.extra | date:'EEEE, d \'de\' MMMM' }} </div>
                                            <div *ngIf="event.placeItems?.length > 0" class="item-data">
                                                <span class="icon">📍</span> {{ event.placeItems[0].name }}
                                            </div>
                                            <div *ngIf="event.extra2" class="item-data">
                                                <span class="icon">🏷️</span> {{event.extra2}}
                                            </div>
                                        </div>

                                    </section>

                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab class="tab-card-detail" label="Archivo">

                            <div *ngIf="lastEvents$ | async as lastEvents">

                                <div *ngIf="lastEvents.length === 0" class="alert alert-warning text-center items__container">
                                    No hay eventos archivados actualmente
                                </div>

                                <div *ngFor="let event of lastEvents?.slice().reverse(); index as i" class="items__container">

                                    <div *ngIf="i===0" class="item--title">
                                        🆕​​ Último evento
                                    </div>

                                    <section (click)="clickItem(event)" class="item" [ngClass]="{'item--marked' : (i === 0)}">

                                        <div class="item-image" href="#">
                                            <img class="square img-thumbnail" [src]="event.imagePath" [alt]="event.name">
                                        </div>
                                        <div class="item-body">
                                            <div class="item-heading"> {{event.name}}</div>
                                            <div *ngIf="event.extra" class="item-data">
                                                <span class="icon">🕑</span> {{ event.extra | date:'EEEE, d \'de\' MMMM' }} </div>
                                            <div *ngIf="event.placeItems?.length > 0" class="item-data">
                                                <span class="icon">📍</span> {{ event.placeItems[0].name }}
                                            </div>

                                            <div *ngIf="event.extra2" class="item-data">
                                                <span class="icon">🏷️</span> {{event.extra2}}
                                            </div>
                                        </div>

                                    </section>

                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab *appRole="['ADMIN', 'SUPER']" class="tab-card-detail" label="🔐​ Info">

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="entity.active" placeholder="Activo" />
                                <mat-icon matSuffix>check_circle_outline</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="entity.name" placeholder="Nombre" />
                                <mat-icon matSuffix>assignment_ind</mat-icon>
                            </mat-form-field>

                            <mat-form-field *ngIf="entity.description" class="card-detail">
                                <input matInput type="text" disabled="true" [value]="entity.description" placeholder="Descripción" />
                                <mat-icon matSuffix>info</mat-icon>
                            </mat-form-field>

                            <div class="card-detail" class="card-chip-list">
                                <span>Categorías:</span>
                                <mat-chip-list aria-label="Categories">
                                    <mat-chip *ngFor="let category of entity.categories">{{ category }}</mat-chip>
                                </mat-chip-list>
                            </div>

                            <!--
                                </mat-tab>

                                <mat-tab *appRole="['AUTOR', 'ADMIN', 'SUPER']" class="tab-card-detail" label="Más info">
                            -->

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="entity.roleDefault" placeholder="Rol por defecto" />
                                <mat-icon matSuffix>manage_accounts</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="entity.scheduleTypeDefault" placeholder="Tipo de acto" />
                                <mat-icon matSuffix>label</mat-icon>
                            </mat-form-field>

                            <div *ngIf="entity.place" class="card-detail-block">
                                <img [src]="entity.place?.imagePath" class="img-thumbnail" [alt]="entity.place?.name" />
                                <div>
                                    <span class="desc">Lugar por defecto</span>
                                    <br/>
                                    <span class="name">{{ entity.place?.name }}</span>
                                </div>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </mat-card-content>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noEntityTemplate>
    Cargando esta entidad...
</ng-template>