<div class="fav-button" *ngIf="userLogged">

    <button *ngIf="itemSocial?.usersFavs && (itemSocial?.usersFavs?.indexOf(userLogged.uid) !== -1); else noFavTemplateButton" [matBadge]="itemSocial?.usersFavs?.length" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_ON + ')'"
        (click)="setEntityFav(false)"></button>

    <ng-template #noFavTemplateButton>
        <button [matBadge]="itemSocial?.usersFavs?.length" mat-button class="button-image" [style.backgroundImage]="'url(' + BTN_IMG_FAVORITE_OFF + ')'" (click)="setEntityFav(true)"></button>
    </ng-template>

</div>
