<app-section-header [title]="'Perfil de Usuario'"></app-section-header>

<div class="section-wrapper">

    <mat-card *ngIf="userData$ | async as user; else noUserTemplate">

        <div class="row">
            <div class="col-lg-2 col-md-3 col-12" style="text-align: center;">
                <img [src]="user.photoURL" class="img-thumbnail">
            </div>

            <div class="col-lg-10 col-md-9 col-12">

                <mat-card-content>

                    <mat-tab-group>

                        <!-- A. Datos Personales -->
                        <mat-tab class="tab-card-detail" label="Datos Personales">

                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">contact_mail</mat-icon>
                                <span class="extra-label">Datos Personales</span>
                            </ng-template>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="user.displayName" placeholder="Nombre Completo" />
                                <mat-icon matSuffix>assignment_ind</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="user.email" placeholder="Email" />
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="(user.emailVerified) ? 'SI' : 'NO'" placeholder="Email verificado " />
                                <mat-icon matSuffix>check_circle_outline</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="user.role" placeholder="Rol" />
                                <mat-icon matSuffix>admin_panel_settings</mat-icon>
                                <mat-hint>
                                    Cada usuario tiene un rol en la web, en función del cual puede hacer ciertas acciones en la web. Para más info <a href="./faq">pulsa aquí</a>.
                                </mat-hint>
                            </mat-form-field>

                        </mat-tab>


                        <!-- B. Datos de Entidades -->
                        <mat-tab *appRole="['AUTOR', 'ADMIN', 'SUPER']" label="Entidades Asociadas">

                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">manage_accounts</mat-icon>
                                <span class="extra-label">Entidades Asociadas</span>
                            </ng-template>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="user.role" placeholder="Rol" />
                                <mat-icon matSuffix>admin_panel_settings</mat-icon>
                            </mat-form-field>

                            <br/>

                            <div *appRole="['ADMIN', 'SUPER']" class="alert alert-success" role="alert">
                                Actualmente, al tener <strong>ROL {{ user.role }}</strong> puede administrar cualquier entidad
                            </div>

                            <div *ngIf="user.entitiesAdmin">

                                <h3 *appRole="['ADMIN', 'SUPER']">De tener ROL AUTOR, podría administrar:</h3>

                                <sh-base-items-table [baseItems]="user.entitiesAdmin" [baseType]="baseTypeEntity" [modeAdmin]="false"></sh-base-items-table>

                            </div>

                        </mat-tab>

                        <!-- C. Datos de Auditoría -->
                        <mat-tab *appRole="['ADMIN', 'SUPER']" label="Auditoría de accesos">

                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">login</mat-icon>
                                <span class="extra-label">Auditoría de accesos</span>
                            </ng-template>

                            <sh-base-items-table *ngIf="auditItems.length > 0" [baseItems]="auditItems" [baseType]="baseTypeAudit" [modeAdmin]="false"></sh-base-items-table>

                        </mat-tab>

                        <!-- D. Datos de Eventos Creados -->
                        <mat-tab *appRole="['AUTOR', 'ADMIN', 'SUPER']" label="Auditoría de eventos">

                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">create_new_folder</mat-icon>
                                <span class="extra-label">Auditoría de eventos</span>
                            </ng-template>

                            <sh-base-items-table *ngIf="createdEventItems.length > 0" [baseItems]="createdEventItems" [baseType]="baseTypeEvent" [modeAdmin]="false"></sh-base-items-table>

                        </mat-tab>


                    </mat-tab-group>

                </mat-card-content>

                <mat-card-actions class="text-center">

                    <!--
                    <button mat-fab class="m-1" type="button" (click)="gotoList()" color="primary">
                      <mat-icon>list</mat-icon>
                    </button>

                    <button mat-fab class="m-1" type="button" (click)="editItem()" color="primary">
                      <mat-icon>edit</mat-icon>
                    </button>
                    -->

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noUserTemplate>
    No existe tal usuario
</ng-template>
