@import '../../../../base/variables';
.wrapper {
    .info {
        .extra,
        .name {
            display: block;
            text-transform: uppercase;
        }
        .extra {
            color: #333333;
            font-size: smaller;
        }
        .name {
            color: black;
            @media screen and (max-width: $maxMobileWidth) {
                font-size: smaller;
            }
            font-weight: bolder;
        }
    }
}

.desc {
    color: black;
    font-weight: bolder;
}

@media screen and (max-width: $maxMobileWidth) {
    .desc {
        font-size: normal;
    }
}

@media screen and (min-width: $minTabletWidth) {
    .desc {
        font-size: larger;
    }
}
