div.base-container {
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
    .mat-form-field.name-field {
        width: 100%;
    }
    .mat-form-field.description-field {
        width: 100%;
        margin: -30px 0px;
    }
    .mat-form-field.date-field {
        width: 200px;
    }
    .mat-form-field.time-field {
        margin-left: 10px;
    }
}

.description-wrapper {
    flex-direction: column;
}

.section-wrapper {
    border: 1px dashed lightgray;
    padding: 10px;
    border-radius: 25px;
}

#images-wrapper {
    .images-container {
        border: 0px solid lightgray;
        margin: -10px;
    }
}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir='rtl'] .option-img {
    margin-right: 0;
    margin-left: 8px;
}