<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content [formGroup]="scheduleItemForm">

    <div class="images-container">
        <div *ngFor="let image of event.images">
            <img [alt]="image" [src]="image" (click)="onSelectedImage(image)" [ngClass]="{'selected-image' : (imageSelected == image)}" class="container__image" />
        </div>
    </div>

    <div class="base-container">

        <mat-form-field class="name-field" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre del acto" formControlName="name">
        </mat-form-field>

        <mat-form-field class="date-field" appearance="outline">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="picker1" placeholder="Fecha de Inicio" formControlName="dateIni" (dateChange)="onDateIniChange('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="time-field" appearance="outline">
            <mat-label>Hora Inicio</mat-label>
            <input matInput type="time" formControlName="timeIni" placeholder="Hora de Inicio">
        </mat-form-field>

    </div>

    <div class="base-container">

        <mat-form-field appearance="outline">
            <mat-label>Lugar</mat-label>
            <mat-select placeholder="Lugar" formControlName="place" [compareWith]="compareFunction" (selectionChange)="onSelectionChanged($event)">
                <mat-option [value]="SECTION_BLANK">
                    SIN ESPECIFICAR
                </mat-option>
                <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                    {{place.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="base-container description-wrapper">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="description" placeholder="Descripción"></textarea>
            </mat-form-field>
        </div>

        <div *ngIf="scheduleItemForm.controls.description.value">
            <span class="title">Así se visualizaría la Descripción:</span>
            <div class="preview" [innerHTML]="scheduleItemForm.controls.description.value"></div>
        </div>
    </div>

</mat-dialog-content>

<div mat-dialog-actions class="buttons buttons-center">
    <button mat-fab class="btn-1" (click)="save()" cdkFocusInitial>
        <mat-icon>done</mat-icon>
    </button>
    <button mat-fab class="btn-1" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
