<app-section-header [title]="'Panel de Administración'"></app-section-header>

<div class="section-wrapper">

    <div *ngIf="userData$ | async as user" class="mb-3 text-center">

        <h1>¿Qué vida, {{ user.displayName }}?</h1>

        <div class="options-wrapper">

            <div class="option-item col-12 col-sm-4">
                <mat-card [routerLink]="'../perfil'">
                    <mat-card-title>Tu cuenta personal</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tu cuenta personal'" style="width:200px" [src]="user.photoURL" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <div *appRole="['AUTOR', 'ADMIN', 'SUPER']" class="option-item col-12 col-sm-4">
                <mat-card [routerLink]="'../usuarios/' + user?.uid + '/entidades'">
                    <mat-card-title>Tus entidades</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tus entidades'" [src]="'assets/images/goto/my-entities.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <div *appRole="['ADMIN']" class="option-item col-12 col-sm-4">
                <mat-card [routerLink]="'../usuarios/' + user?.uid + '/audit'">
                    <mat-card-title>Tus accesos</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tus accesos'" [src]="'assets/images/goto/my-accesses.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <div *appRole="['SUPER']" class="option-item col-12 col-sm-4">
                <mat-card [routerLink]="'../audit'">
                    <mat-card-title>Auditoría</mat-card-title>
                    <div class="option-image">
                        <img alt="'Auditoría de accesos'" [src]="'assets/images/goto/my-accesses.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="w-100 m-3">
            <h1>Con tu rol de <span style="text-transform: lowercase;font-weight: bolder;font-size:inherit">{{ user.role }}</span> en la aplicación puedes hacer lo siguiente:</h1>
        </div>

    </div>

    <div *ngIf="userData$ | async as user" class="mt-3 text-center">
        <app-role-options></app-role-options>
    </div>

</div>
