<app-section-header [title]="'Panel de Administración'"></app-section-header>

<div class="section-wrapper">

    <div *ngIf="userData$ | async as user" class="mb-3 text-center">

        <span class="section-title">¿Qué vida, {{ user.displayName }}?</span>

        <h3 *ngIf="!user.emailVerified" class="alert alert-warning">
            Te hemos enviado un correo electrónico para verificar tu cuenta ({{ user.email }}). Si no lo has recibido, por favor, revisa tu bandeja de correo no deseado o en la carpeta de spam, o haz clic <a href="{{ user.emailVerifiedLink }}">aquí</a>            para reenviar el correo electrónico.
        </h3>

        <div class="section-main-info">Con tu rol de <span class="role">{{ user.role }}</span> en la aplicación puedes hacer lo siguiente:</div>

        <div class="options-wrapper">

            <div class="option-item col-3">
                <mat-card [routerLink]="'../perfil'">
                    <mat-card-title>Cuenta<br/>Personal</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tu cuenta personal'" style="width:200px" [src]="user.photoURL" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <div class="option-item col-3">
                <mat-card [routerLink]="'../eventos/favoritos'" *appRole="['LECTOR','AUTOR', 'ADMIN', 'SUPER']" (click)="gotoFavourites()">
                    <mat-card-title>Eventos<br/>Favoritos</mat-card-title>
                    <div class="option-image">
                        <img alt="'Añadir Favoritos'" [src]="'assets/images/goto/goto-favourites.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <div *appRole="['AUTOR', 'ADMIN', 'SUPER']" class="option-item col-3">
                <mat-card [routerLink]="'../entidades/favoritas'">
                    <mat-card-title>Entidades<br/>favoritas</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tus entidades'" [src]="'assets/images/goto/my-entities.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

            <!--
            <div *appRole="['SUPER']" class="option-item col-3">
                <mat-card [routerLink]="'../usuarios/' + user?.uid + '/audit'">
                    <mat-card-title>Tus<br/>accesos</mat-card-title>
                    <div class="option-image">
                        <img alt="'Tus accesos'" [src]="'assets/images/goto/my-accesses.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>
            -->

            <div *appRole="['SUPER']" class="option-item col-3">
                <mat-card [routerLink]="'../audit'">
                    <mat-card-title>Auditoría<br/>General</mat-card-title>
                    <div class="option-image">
                        <img alt="'Auditoría de accesos'" [src]="'assets/images/goto/my-accesses.png'" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>

        </div>

    </div>

    <div *ngIf="userData$ | async as user" class="mt-3 text-center">
        <app-role-options></app-role-options>
    </div>

</div>