<app-section-header [title]="'Tus eventos creados'" showStatusFilter="true" showViewMode="true" (viewMode)="setViewMode($event)" (statusFiltered)="setStatusFiltered($event)"></app-section-header>

<div *ngIf="events.length > 0; else noEventsTemplate">

    <div class="section-wrapper">

        <!-- LIST View -->
        <div *ngIf="viewMode === 'list'">

            <div class="section-list-options">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <div class="buttons">
                    <button mat-mini-fab class="btn-1" (click)="addItem()">
                          <mat-icon>add</mat-icon>
                  </button>
                </div>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Id.</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">{{ event.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Estado</th>
                        <td mat-cell [class]="event.status" class="td-extra-lg" *matCellDef="let event">
                            <div class="inside">{{ event.status | status }}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Actualizado</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">hace {{ event.timestamp }}</td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <img (click)="gotoItemConfig(element)" [src]="element.imagePath" class="img-thumbnail" alt="element.name">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="collapsed-info">
                        <th mat-header-cell class="td-collapsed-info" *matHeaderCellDef mat-sort-header>Info del Evento</th>
                        <td mat-cell class="td-collapsed-info" [class]="event.status" *matCellDef="let event" (click)="gotoItemConfig(event)">
                            <div class="inside"></div>
                            <div style="font-size: smaller;color:gray">
                                {{ event.dateIni | date:'EEEE, d \'de\' MMMM' }}
                            </div>
                            {{ event.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">{{ event.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="categories">
                        <th mat-header-cell class="td-extra-md" *matHeaderCellDef mat-sort-header>Categorías</th>
                        <td mat-cell class="td-extra-md" *matCellDef="let event">{{ event.extra2 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="dateIni">
                        <th mat-header-cell class="td-extra-md" *matHeaderCellDef mat-sort-header>Inicio</th>
                        <td mat-cell class="td-extra-md" *matCellDef="let event">{{ event.dateIni | date:'EEEE, d \'de\' MMMM' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions4">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Acciones </th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">

                            <button [disabled]="event.status !== 'VISIBLE'" mat-icon-button matTooltip="Click to View" class="iconbutton" (click)="gotoItem(event)">
                                  <mat-icon class="btn-1" aria-label="View">
                                      remove_red_eye
                                  </mat-icon>
                              </button>

                            <button mat-icon-button matTooltip="Click to Config" class="iconbutton" (click)="gotoItemConfig(event)">
                                  <mat-icon class="btn-1" aria-label="Config">
                                      build_circle
                                  </mat-icon>
                              </button>

                            <button [disabled]="event.status === 'DELETED'" mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="deleteItem(event)">
                                <mat-icon class="btn-1" aria-label="Delete">
                                      delete
                                </mat-icon>
                            </button>

                            <button *ngIf="event.status === 'DELETED'" mat-icon-button matTooltip="Click to Remove" class="iconbutton" (click)="deleteForeverElement(event)">
                                <mat-icon class="btn-1" aria-label="Delete Forever">cancel</mat-icon>
                            </button>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="social">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Social</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">
                            {{ event.extra }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>

        </div>
        <!-- LIST View - End -->


        <!-- CARDS View -->
        <div *ngIf="viewMode === 'cards'">

            <div class="form-group">
                <input type="text" class="form-control mb-4" placeholder="Filtrar Búsqueda" [(ngModel)]="query" id="listSearch">
            </div>

            <div class="section-cards">
                <div class="item-card" *ngFor="let event of events | searchFilter: query">

                    <app-event-card [event]="event"></app-event-card>

                </div>
            </div>
        </div>
        <!-- CARDS View - End -->

    </div>

</div>


<ng-template #noEventsTemplate>
    <div class="m-3 alert alert-warning">
        ¡No se han encontrado eventos a tu nombre!
    </div>
</ng-template>
