@import '../../../../base/variables';
table {
    width: 100%;
    .table__row--disabled {
        background-color: $colorRowDisabledBg;
        td {
            color: $colorRowDisabledData;
        }
        img {
            opacity: .2;
        }
    }
    .table__row--enabled {
        background-color: $colorRowEnabledBg;
        td {
            color: $colorTitleData;
        }
    }
    .table__row {
        .extra-data,
        .name {
            display: block;
            text-transform: uppercase;
            margin: 4px 0px;
        }
        .extra-data {
            color: $colorExtraData;
            font-size: smaller;
            margin: 2px 0px;
        }
        .name {
            @media screen and (max-width: $maxMobileWidth) {
                font-size: medium;
            }
            @media screen and (min-width: $minTabletWidth) {
                font-size: larger;
            }
            font-weight: bolder;
        }
        .small-image {
            margin: 0px 5px;
        }
    }
    .icon {
        width: 32px;
        display: inline-block;
        text-align: center;
        // background-color: red;
    }
}
