<app-section-header [title]="pageTitle"></app-section-header>

<div class="section-wrapper">

    <mat-card class="item-edit" *ngIf="entity; else noEntityTemplate">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="entityForm.get('image').value" class="img-thumbnail" (click)="inputImageProfile.click()">
                <input hidden type="file" #inputImageProfile (change)="uploadImage($event)">
                <hr>
                <span (click)="inputImageProfile.click()" class="small">Clica en la imagen para cambiar la foto</span>
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <form [formGroup]="entityForm" (ngSubmit)="onSaveForm()">

                    <mat-card-content>

                        <!--
                        <mat-form-field appearance="outline">
                            <mat-label>Id</mat-label>
                            <input matInput type="text" formControlName="id" placeholder="Id">
                        </mat-form-field>
                        -->

                        <mat-slide-toggle class="mb-3 ml-2" formControlName="active">Entidad activa</mat-slide-toggle>

                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de la entidad</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="Nombre">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Categorías</mat-label>
                            <mat-select formControlName="categories" multiple>
                                <mat-option *ngFor="let category of CATEGORIES" [value]="category">{{category}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Lugar por defecto</mat-label>
                            <mat-select placeholder="Lugar" formControlName="place" [compareWith]="compareFunction" (selectionChange)="onSelectionChanged($event)">
                                <mat-option [value]="SECTION_BLANK">
                                    SIN ESPECIFICAR
                                </mat-option>
                                <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                                    {{place.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-6" appearance="outline">
                            <mat-label>Rol por defecto</mat-label>

                            <mat-select formControlName="roleDefault" [value]="entityForm.get('roleDefault').value">
                                <mat-option *ngFor="let rol of ROLES" [value]="rol">
                                    {{rol}}
                                </mat-option>
                            </mat-select>

                            <mat-hint>Roles posibles ORGANIZA, JUEGA...</mat-hint>

                        </mat-form-field>


                        <mat-form-field class="col-6" appearance="outline">
                            <mat-label>Tipo de acto por defecto</mat-label>

                            <mat-select formControlName="scheduleTypeDefault" [value]="entityForm.get('scheduleTypeDefault').value">
                                <mat-option *ngFor="let scheduleType of SCHEDULE_TYPES" [value]="scheduleType">
                                    {{scheduleType}}
                                </mat-option>
                            </mat-select>

                            <mat-hint>Tipos posibles ACTO, PARTIDO, CONCIERTO...</mat-hint>

                        </mat-form-field>

                    </mat-card-content>

                    <mat-card-actions class="buttons">

                        <button mat-fab class="btn-1" [title]="entityForm.valid ? 'Guardar con los datos introducidos' : 'Deshabilitado hasta que los datos sean válidos'" [disabled]="!entityForm.valid" type="submit">
                            <mat-icon>check</mat-icon>
                        </button>

                        <button mat-fab class="btn-1" (click)="gotoList()">
                            <mat-icon>list</mat-icon>
                        </button>

                    </mat-card-actions>

                </form>

            </div>
        </div>

    </mat-card>

    <div *ngIf="errorMessage" class="alert-danger">
        {{ errorMessage }}
    </div>

</div>

<ng-template #noEntityTemplate>
    No existe tal entidad
</ng-template>