<app-section-header *ngIf="place$ | async as place" [title]="place.name + ' | Lugar de Rincón de Soto'"></app-section-header>

<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="place$ | async as place; else noPlaceTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="place.image" class="img-thumbnail">
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content>

                    <mat-tab-group>

                        <mat-tab class="tab-card-detail" label="Datos de lugar">

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="place.active" placeholder="Activo" />
                                <mat-icon matSuffix>check_circle_outline</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="place.name" placeholder="Nombre" />
                                <mat-icon matSuffix>assignment_ind</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="place.description" placeholder="Descripción" />
                                <mat-icon matSuffix>info</mat-icon>
                            </mat-form-field>

                            <div class="card-detail" class="card-chip-list">
                                <span>Tipo de lugar:</span>
                                <mat-chip-list aria-label="Tipos">
                                    <mat-chip *ngFor="let type of place.types">{{ type }}</mat-chip>
                                </mat-chip-list>
                            </div>

                        </mat-tab>

                        <mat-tab class="tab-card-detail" label="Más info">

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="place.locality" placeholder="Localidad" />
                                <mat-icon matSuffix>place</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="card-detail">
                                <input matInput type="text" disabled="true" [value]="place.roleDefault" placeholder="Rol por defecto" />
                                <mat-icon matSuffix>manage_accounts</mat-icon>
                            </mat-form-field>

                        </mat-tab>

                    </mat-tab-group>

                </mat-card-content>

                <mat-card-actions class="buttons buttons-center">

                    <button mat-fab class="btn-1" (click)="gotoList()">
                        <mat-icon>list</mat-icon>
                    </button>

                    <button mat-fab class="btn-extra" (click)="editItem()">
                        <mat-icon>edit</mat-icon>
                    </button>

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noPlaceTemplate>
    No existe tal lugar
</ng-template>