<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="linkItemForm">

    <div class="button-toggle-container">

        <mat-button-toggle-group appearance="outline" formControlName="linkType">
            <mat-button-toggle class="button__link-type" value="URL EXTERNA">
                {{LINK_TYPE_URL}}
            </mat-button-toggle>
            <mat-button-toggle class="button__link-type" value="IMAGEN">
                {{LINK_TYPE_IMAGE}}
            </mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <div class="base-container">

        <mat-form-field class="name-field" appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput placeholder="Título del enlace" formControlName="name">
        </mat-form-field>

    </div>

    <div *ngIf="linkItemForm.controls.linkType.value == LINK_TYPE_IMAGE" class="images-container">
        <div *ngFor="let image of event.images">
            <img [alt]="image" [src]="image" (click)="onSelectedImage(image)" [ngClass]="{'selected-image' : (imageSelected == image)}" class="container__image" />
        </div>
    </div>

    <div *ngIf="linkItemForm.controls.linkType.value == LINK_TYPE_URL" class="base-container description-wrapper">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>URL original</mat-label>
                <input matInput type="text" formControlName="sourceUrl" placeholder="URL del enlace">
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<div mat-dialog-actions class="buttons buttons-center">
    <button [disabled]="!linkItemForm.valid" mat-fab class="btn-1" (click)="save()" cdkFocusInitial>
        <mat-icon>done</mat-icon>
    </button>
    <button mat-fab class="btn-1" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
