<app-section-header [title]="'Página de Acceso'"></app-section-header>

<div class="section-wrapper">

    <div *ngIf="afAuth.authState | async as user; else noAuthTemplate">

        <div class="text-center m-3">

            <div class="section-title">
                ¡Hola, {{ user.displayName }}!
            </div>

            <div class="section-main-info">
                Has accedido con tu email <strong>{{ user.email }}</strong>
                <br/><br/>
                <span *ngIf="userRole">Actualmente tienes el rol de <strong>{{ userRole }}</strong></span>
            </div>

            <div class="section-text">
                Disfruta de la AppWeb navegando por las diferentes secciones.
            </div>

            <div mat-dialog-actions class="buttons buttons-center">
                <button mat-fab class="btn-1" (click)="gotoHome()">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-fab class="btn-1" (click)="gotoAdmin()">
                    <mat-icon>settings</mat-icon>
                </button>
                <button mat-fab class="btn-1" (click)="afAuth.signOut()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>

        </div>

    </div>

</div>

<ng-template #noAuthTemplate>

    <div *ngIf="(afAuth.authState | async) === null" class="text-center m-3">
        <button style="width: 100%;max-width: 460px;" mat-raised-button appGoogleSignin>
            <img src="/assets/google-logo.svg" /> Acceso con Google
        </button>

        <div *ngIf="loginWithEmail">
            <br/><br/>o<br/><br/>
            <app-email-login></app-email-login>
        </div>

    </div>

</ng-template>