<div *ngIf="notice" class="alert alert-alarm" role="alert">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>
                      <span style="font-size: x-large;">🔔</span>
                      ¡Hay un aviso importante!
                    </b>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-base-item-detail [baseItem]="notice" [btnView]="true" [btnClose]="true" (onCloseClicked)="onCloseClicked()"></app-base-item-detail>

        </mat-expansion-panel>
    </mat-accordion>
</div>