.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
}

img.img-thumbnail {
    width: 120px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}
