<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content [formGroup]="baseItemForm">

    <div *ngIf="baseItemSelected.image; else noBaseItemTemplate">
        <img class="container__image" [src]="baseItemSelected.image">
    </div>

    <ng-template #noBaseItemTemplate>
        <div>
            <img class="container__image" [src]="SECTION_BLANK.image">
        </div>
    </ng-template>

    <mat-form-field appearance="outline">
        <mat-label>{{ baseItemName }}</mat-label>
        <mat-select [placeholder]="baseItemName" formControlName="baseItem" [compareWith]="compareFunction" (selectionChange)="onSelectionChanged($event)">
            <mat-option [value]="SECTION_BLANK">
                SIN ESPECIFICAR
            </mat-option>
            <mat-option *ngFor="let baseItem of baseItems$ | async as baseItems" [value]="baseItem">
                {{baseItem.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{ baseItemDesc }}</mat-label>
        <input matInput placeholder="Descripción" formControlName="baseItemDesc">
    </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions class="buttons buttons-center">
    <button mat-fab class="btn-admin" [disabled]="baseItemSelected.id === '0'" (click)="save()" cdkFocusInitial>
        <mat-icon>done</mat-icon>
    </button>

    <button mat-fab class="btn-1" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>
