@import '../../../base/variables';
.sections__container {
    .section-alerted-notice,
    .section-frontpage,
    .section-calendar {
        margin-top: 8px;
        .section__title {
            font-weight: bolder;
            color: $color1;
            text-transform: uppercase;
            height: 45px;
            padding: 12px 0px;
            margin: 4px 6px;
            .section__title--icon {
                width: 32px;
                display: inline-block;
                text-align: center;
                // background-color: red;
            }
            span {
                @media screen and (max-width: 450px) {
                    font-size: small;
                }
                @media screen and (min-width: 451px) and (max-width: 600px) {
                    font-size: medium;
                }
                @media screen and (min-width: 601px) {
                    font-size: larger;
                }
            }
        }
    }
}

app-calendar-day-header {
    display: block;
    margin-bottom: 20px;
}

.images {
    text-align: right;
    img {
        width: 64px;
        margin-right: 2px;
    }
}

.alerted-notice-header {
    background-color: $colorAlert !important;
}

.alerted-notice-background {
    background-color: $colorAlertBack !important;
}

.div-no-events {
    min-height: 400px;
    text-align: center;
    padding: 40px;
    font-size: larger;
}