<app-section-header [title]="'Hoy en Rincón de Soto'"></app-section-header>

<mat-accordion class="headers-align">

    <!-- Alerted Notice Panel -->
    <mat-expansion-panel *ngIf="theAlertedNotice$ | async as alertedNotice" class="alerted-notice-background" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="alerted-notice-header">
            <mat-panel-title>
                <span style="font-size: larger">🔔</span>&nbsp;&nbsp;
                <span style="font-weight: bolder">Hay activado un aviso importante</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-base-items-panel [baseItems]="[alertedNotice]" [alerted]="true"></app-base-items-panel>

        <!--
        <mat-action-row>
            <button mat-button class="btn-1" (click)="nextStep()">SIG</button>
        </mat-action-row>
        -->

    </mat-expansion-panel>

    <!-- Stories Panel -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span style="font-size: larger">📡</span>&nbsp;&nbsp;
                <span style="font-size:medium">Hoy destacamos en portada...</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-stories-panel></app-stories-panel>

        <!--
        <mat-action-row>
            <button mat-button class="btn-1" (click)="prevStep()">ANT</button>
            <button mat-button class="btn-1" (click)="nextStep()">SIG</button>
        </mat-action-row>
        -->

    </mat-expansion-panel>

    <!-- Events Panel -->
    <mat-expansion-panel *ngIf="calendarEvents$ | async; else loading; let calendarEvents" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span style="font-size: larger">📆</span>&nbsp;&nbsp;
                <span style="font-size:medium">El {{ viewDate | date:'EEEE, d \'de\' MMMM \'de\' YYYY' }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-calendar-day-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()" (viewChange)="fetchEvents()" [locale]="locale">
        </app-calendar-day-header>

        <div *ngIf="calendarEvents.length" class="alert alert-primary">
            {{ (calendarEvents.length === 1 ) ? '' : "Hay " + calendarEvents.length + " varios eventos:" }}

            <app-calendar-event-items-panel [calendarEvents]="calendarEvents"></app-calendar-event-items-panel>

        </div>

        <div *ngIf="calendarEvents.length; else noEventsTemplate" class="w-100">
            <mwl-calendar-day-view [viewDate]="viewDate" [events]="calendarEvents" [dayStartHour]="8" [dayEndHour]="20" (eventClicked)="openCalendarEventClicked($event.event)">
            </mwl-calendar-day-view>
        </div>

        <!--
        <mat-action-row>
            <button mat-button class="btn-1" (click)="prevStep()">ANT</button>
            <button mat-button class="btn-1" (click)="nextStep()">SIG</button>
        </mat-action-row>
        -->

    </mat-expansion-panel>

</mat-accordion>


<ng-template #loading>
    <div>
        Cargando eventos en la agenda...
    </div>
</ng-template>

<ng-template #noEventsTemplate>
    <div class="alert alert-warning div-no-events">
        No hay eventos para este día
    </div>
</ng-template>