@import '../../../base/variables';
app-calendar-day-header {
    display: block;
    margin-bottom: 20px;
}

.images {
    text-align: right;
    img {
        width: 64px;
        margin-right: 2px;
    }
}

.action-buttons {
    padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.alerted-notice-header {
    background-color: $colorAlert !important;
}

.div-no-events {
    min-height: 400px;
    text-align: center;
    padding: 40px;
    font-size: larger;
}
