<app-section-header [title]="'Hoy en Rincón de Soto'"></app-section-header>

<mat-accordion class="headers-align" multi>

    <!-- Alerted Notice Panel -->
    <mat-expansion-panel *ngIf="theAlertedNotice$ | async as alertedNotice" class="alerted-notice-background expansion-panel" [expanded]="true" hideToggle>
        <mat-expansion-panel-header class="alerted-notice-header">
            <mat-panel-title>
                <span class="expansion-panel__text">🔔</span>&nbsp;&nbsp;
                <span class="expansion-panel__text expansion-panel__text--bolder">Hay activado un aviso importante</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="alert">
            <app-notice-expansion-panel [notice]="alertedNotice"></app-notice-expansion-panel>
        </div>

        <!--
        <app-base-items-panel [baseItems]="[alertedNotice]" [alerted]="true"></app-base-items-panel>
        -->

    </mat-expansion-panel>

    <!-- Fixed Stories Panel -->
    <div *ngIf="fixedStories$ | async as fixedStories">

        <mat-expansion-panel *ngIf="fixedStories.length > 0" class="expansion-panel" [expanded]="true" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="expansion-panel__text">📌</span>&nbsp;&nbsp;
                    <span class="expansion-panel__text">Eventos fijados en portada</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-stories-panel [stories]="fixedStories"></app-stories-panel>

        </mat-expansion-panel>
    </div>

    <!-- Stories Panel -->
    <div *ngIf="nextStories$ | async as nextStories">

        <mat-expansion-panel *ngIf="nextStories.length > 0" class="expansion-panel" [expanded]="true" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="expansion-panel__text">📡</span>&nbsp;&nbsp;
                    <span class="expansion-panel__text">Hoy destacamos en portada...</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-stories-panel [stories]="nextStories"></app-stories-panel>

        </mat-expansion-panel>
    </div>

    <!-- Events Panel -->
    <mat-expansion-panel class="expansion-panel" [expanded]="true" hideToggle>

        <!--*ngIf="calendarEvents$ | async as calendarEvents; else loading" -->
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="expansion-panel__text">📆</span>&nbsp;&nbsp;
                <span class="expansion-panel__text">{{ viewDate | date:'EEEE, d \'de\' MMMM \'de\' YYYY' }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-calendar [showSectionHeader]="false" [showHeader]="true" [showFooter]="true"></app-calendar>

    </mat-expansion-panel>

</mat-accordion>


<ng-template #loading>
    <div>
        Cargando eventos en la agenda...
    </div>
</ng-template>

<ng-template #noEventsTemplate>
    <div class="alert alert-warning div-no-events">
        No hay eventos para este día
    </div>
</ng-template>
