<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content class="mat-typography" [formGroup]="statusForm">

    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status" [value]="statusForm.get('status')">
            <mat-option *ngFor="let status of STATUS" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="row">
        <div *appRole="['SUPER']" class="col-md-6 col-12">
            <mat-slide-toggle formControlName="active">Evento activo</mat-slide-toggle>
        </div>

        <div class="col-md-6 col-12">
            <mat-slide-toggle appearance="outline" formControlName="focused">Mostrar evento en portada</mat-slide-toggle>
        </div>
    </div>

</mat-dialog-content>

<div mat-dialog-actions class="buttons buttons-center">
    <button mat-fab class="btn-1" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>

    <button mat-fab class="btn-admin" (click)="save()" cdkFocusInitial>
        <mat-icon>done</mat-icon>
    </button>
</div>
