<app-section-header *ngIf="showHeader" [title]="'EbroNews'"></app-section-header>

<div class="news-wrapper">

    <mat-card *ngFor="let newsItem of news$ | async; index as i" class="news-item" routerLink="profile" (click)="gotoNewsItem(newsItem)">
        <div class="timestamp">
            <span class="title">Última actualización: </span>
            <span class="data">{{ newsItem.timestamp }}</span>
        </div>
        <div class="news-image">
            <img alt="newsItem.name" [src]="newsItem.source.image" class="img-thumbnail" />
        </div>
        <mat-card-title>
            <p>{{ newsItem.name }}</p>
        </mat-card-title>
        <mat-card-content>
            <p [innerHTML]="newsItem.description"></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">VER</button>
        </mat-card-actions>
    </mat-card>

</div>