<div class="options-wrapper">

    <mat-card class="option-item" *ngIf="role >= 'ADMIN'" (click)="gotoNewEventFromScratch()">
        <mat-card-title>Evento desde cero</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'https://picsum.photos/200?random=2'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" *ngIf="role >= 'ADMIN'" (click)="openEntityDialog()">
        <mat-card-title>Evento de entidad</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'https://picsum.photos/200?random=3'" class="img-thumbnail" />
        </div>
    </mat-card>

</div>
