<div class="options-wrapper">

    <mat-card class="option-item" *ngIf="(role != 'LECTOR') && (role != 'AUTOR')" (click)="gotoNewEventFromScratch()">
        <mat-card-title>Evento desde cero</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'https://picsum.photos/200?random=3'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" *ngIf="(role != 'LECTOR')" (click)="openEntityDialog()">
        <mat-card-title>Evento de entidad</mat-card-title>
        <div class="option-image">
            <img alt="'Crear evento'" [src]="'https://picsum.photos/200?random=4'" class="img-thumbnail" />
        </div>
    </mat-card>

</div>

<mat-divider></mat-divider>

<div class="options-wrapper" *ngIf="(role === 'CENSOR') || (role === 'ADMIN') || (role === 'SUPER')">

    <mat-card class="option-item" (click)="gotoUsersDashboard()">
        <mat-card-title>Panel de Usuarios</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Usuarios'" [src]="'https://picsum.photos/200?random=5'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" (click)="gotoEntitiesDashboard()">
        <mat-card-title>Panel de Entidades</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Entidades'" [src]="'https://picsum.photos/200?random=6'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" (click)="gotoPlacesDashboard()">
        <mat-card-title>Panel de Lugares</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Lugares'" [src]="'https://picsum.photos/200?random=7'" class="img-thumbnail" />
        </div>
    </mat-card>


    <mat-card class="option-item" (click)="gotoEventsDashboard()">
        <mat-card-title>Panel de Eventos</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Eventos'" [src]="'https://picsum.photos/200?random=8'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" (click)="gotoNoticesDashboard()">
        <mat-card-title>Panel de Avisos</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Avisos'" [src]="'https://picsum.photos/200?random=9'" class="img-thumbnail" />
        </div>
    </mat-card>

    <mat-card class="option-item" (click)="gotoNewsDashboard()">
        <mat-card-title>Panel de Noticias</mat-card-title>
        <div class="option-image">
            <img alt="'Panel de Noticias'" [src]="'https://picsum.photos/200?random=10'" class="img-thumbnail" />
        </div>
    </mat-card>

</div>
