@import '../../../../base/variables';
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: $colorAlertBack;
    padding: 0px !important;
    border-radius: 24px;
    .container-event {
        display: flex;
        align-items: flex-start;
        .container-event__figure {
            max-height: 200px;
            flex-grow: 1;
            width: 100%;
        }
        .container-event__texts {
            background-color: $colorAlertBack;
            flex-grow: 1;
            width: 100%;
        }
        .title {
            display: block;
            color: $colorAlert;
            background-color: $color1;
            padding: 10px;
            margin-bottom: 10px;
        }
        .data {
            font-family: monospace;
            text-align: right;
            margin-bottom: 0px;
        }
        .desc {
            margin-top: 20px;
            @media screen and (min-width: $minTabletWidth) {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: $maxMobileWidth) {
    .container-event {
        flex-direction: column;
        justify-content: center;
        outline: red 1px solid;
    }
    .title {
        font-size: inherit;
    }
    .data {
        font-size: inherit;
    }
    .mat-toolbar {
        .logo-title {
            font-size: inherit;
        }
    }
}

@media screen and (min-width: $minTabletWidth) and (max-width: $maxComputerWidth) {
    .container-event {
        flex-direction: row;
        justify-content: center;
        outline: orange 1px solid;
        .container-event__figure {
            max-height: 300px;
            flex-grow: 1;
        }
    }
    .title {
        font-size: medium;
    }
    .data {
        font-size: medium;
    }
    .mat-toolbar {
        .logo-title {
            font-size: medium;
        }
    }
}

@media screen and (min-width: $minLargeComputerWidth) {
    .container-event {
        flex-direction: row;
        justify-content: center;
        outline: blue 1px solid;
        .container-event__figure {
            max-height: 500px;
            flex-grow: 1;
        }
    }
    .title {
        font-size: large;
    }
    .data {
        font-size: large;
    }
    .mat-toolbar {
        .logo-title {
            font-size: large;
        }
    }
}