<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="entity$ | async as entity; else noEntityTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="entity.image" class="img-thumbnail">
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <div>
                        <mat-chip-list aria-label="Entity mode">
                            <mat-chip color="primary" selected>{{ entity.active ? 'activo' : 'no activo '}}</mat-chip>
                        </mat-chip-list>
                    </div>

                    <div>
                        <span>Nombre:</span>
                        <h2>{{ entity.name }}</h2>
                    </div>

                    <div>
                        <span>Categorías:</span>
                        <mat-chip-list aria-label="Categories">
                            <mat-chip *ngFor="let category of entity.categories">{{ category }}</mat-chip>
                        </mat-chip-list>
                    </div>

                    <div *ngIf="entity.place">
                        <img [src]="entity.place.image" class="img-thumbnail" [alt]="entity.place.name" />
                        <span>Lugar por defecto:</span>
                        <h2>{{ entity.place?.name }}</h2>
                    </div>

                    <div *ngIf="entity.roleDefault">
                        <span>Rol por defecto:</span>
                        <h2>{{ entity.roleDefault }}</h2>
                    </div>

                </mat-card-content>

                <mat-card-actions>

                    <button mat-raised-button type="button" (click)="gotoList()" color="warn">Volver al listado</button> &nbsp;
                    <button mat-raised-button type="button" (click)="editItem()" color="warn">Editar</button>

                    <a href="https://cards-dev.twitter.com/validator" target="blank" mat-stroked-button color="accent">Twitter Card Validator</a>

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noEntityTemplate>
    No existe tal entidad
</ng-template>
