@import '../../../../base/variables';
app-event-social {
    display: inline-block;
}

.item-view {
    margin-bottom: 10px;
    .item-status {
        text-transform: uppercase;
        font-size: small;
        padding: 0px 5px;
        border-radius: 10px;
        &.DELETED {
            color: lightgrey !important;
            border: 1px solid black;
            background-color: #202020;
        }
        &.BLOCKED {
            border: 1px solid darkred;
            background-color: lightcoral;
        }
        &.EDITING {
            border: 1px solid #856404;
            background-color: #fff3cd;
        }
        &.VISIBLE {
            border: 1px solid darkgreen;
            background-color: lightgreen;
        }
    }
    .item-content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3px;
        .item-timestamp {
            text-transform: uppercase;
            font-size: x-small;
            padding: 0px 5px;
            background-color: $color1;
            border: 1px solid $color1;
            border-radius: 10px;
            color: $color2;
            float: right;
        }
    }
}