@import '../../../../base/variables';
.section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    .item-card {
        width: 360px;
    }
}
