<app-section-header [title]="'Creación de eventos en la aplicación'"></app-section-header>

<div class="section-wrapper" *appRole="[ 'LECTOR' ]">
    <div class="alert alert-warning">
        No puedes crear eventos solo siendo lector
    </div>
</div>

<div class="options-wrapper" *appRole="[ 'AUTOR', 'ADMIN', 'SUPER' ]">

    <div class="intro">
        Con tu rol de <span class="role">{{ role }}</span> puedes:
    </div>

    <div class="options-wrapper">

        <div *appRole="[ 'ADMIN', 'SUPER' ]" class="option-item col-12 col-sm-6 col-md-4">
            <mat-card (click)="gotoNewEventFromScratch()">
                <mat-card-title>Evento desde cero</mat-card-title>
                <div class="option-image">
                    <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-scratch.png'" style="width:200px" class="img-thumbnail" />
                </div>
            </mat-card>
        </div>

        <div *appRole="['AUTOR', 'ADMIN', 'SUPER']" class="option-item col-12 col-sm-6 col-md-4">
            <mat-card (click)="openEntityDialog()">
                <mat-card-title>Evento de entidad</mat-card-title>
                <div class="option-image">
                    <img alt="'Crear evento'" [src]="'assets/images/goto/add-from-entities.png'" style="width:200px" class="img-thumbnail" />
                </div>
            </mat-card>
        </div>

        <div *appRole="['AUTOR', 'ADMIN', 'SUPER']" class="option-item col-12 col-sm-6 col-md-4">
            <div *ngIf="currentUser?.entityDefault">
                <mat-card (click)="createEventFromEntity(currentUser.entityDefault)">
                    <mat-card-title>Evento de ...</mat-card-title>
                    <div class="option-image">
                        <img alt="'Crear evento'" [src]="currentUser.entityDefault.image" style="width:200px" class="img-thumbnail" />
                    </div>
                </mat-card>
            </div>
        </div>

    </div>
</div>