@import '../../../../base/variables';
.title {
    font-weight: bolder;
    line-height: 1.2em;
}

.mat-chip {
    color: $color1;
    background-color: $color2;
}

@media screen and (max-width: $maxMobileWidth) {
    .title {
        font-size: larger;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mat-chip {
        font-size: x-small;
    }
}

@media screen and (min-width: $minTabletWidth) and (max-width: $maxTabletWidth) {
    .title {
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mat-chip {
        font-size: smaller;
    }
}

@media screen and (min-width: $minComputerWidth) {
    .title {
        font-size: xx-large;
    }
    .mat-chip {
        font-size: medium;
    }
}

.description {
    // font-size: smaller;
}
