.base-container {
    margin-bottom: 4px;
    width: 100%;
    height: 64px;
    float: left;
    img.img-thumbnail {
        width: 54px;
        height: 54px;
    }
    .info {
        .extra,
        .name {
            display: block;
            text-transform: uppercase;
        }
        .extra {
            color: #333333;
            font-size: smaller;
        }
        .name {
            color: black;
            font-size: larger;
            font-weight: bolder;
        }
    }
}
