@import '../../../../base/variables';
div {
    height: 60px;
    background-color: $color2;
    color: $color1;
    font-weight: 300;
    font-size: x-large; // 20px
    text-align: left;
    padding: 23px 18px;
}