<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="notice; else noNoticeTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="notice.image" class="img-thumbnail">
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <div class="title">{{ notice.name }}</div>

                    <div *ngIf="notice.categories?.length > 0">
                        <mat-chip-list aria-label="Categories">
                            <mat-chip *ngFor="let category of notice.categories">{{ category }}</mat-chip>
                        </mat-chip-list>
                    </div>

                    <div class="description" [innerHTML]="notice.description" *ngIf="notice.description"></div>

                </mat-card-content>

                <mat-card-actions class="buttons buttons-center">

                    <button mat-fab class="btn-1" (click)="gotoList()">
                    <mat-icon>list</mat-icon>
                  </button>

                    <button mat-fab class="btn-extra" (click)="editItem()">
                      <mat-icon>edit</mat-icon>
                    </button>

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noNoticeTemplate>
    No existe tal aviso
</ng-template>