@import '../../../../base/variables';
.title {
    font-weight: bolder;
    line-height: 1.2em;
}

.mat-chip {
    color: $color1;
    background-color: $color2;
}

@media screen and (max-width: $maxMobileWidth) {
    .title {
        font-size: larger;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mat-chip {
        font-size: x-small;
    }
}

@media screen and (min-width: $minTabletWidth) and (max-width: $maxTabletWidth) {
    .title {
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mat-chip {
        font-size: smaller;
    }
}

@media screen and (min-width: $minComputerWidth) {
    .title {
        font-size: xx-large;
    }
    .mat-chip {
        font-size: medium;
    }
}

.item__image {
    position: relative;
    .item__image-img {
        @media screen and (max-width: $maxMobileWidth) {
            border: 4px solid $color1;
            border-radius: 1em;
        }
        @media screen and (min-width: $minTabletWidth) and (max-width: $maxTabletWidth) {
            border: 9px solid $color1;
            border-radius: 1em;
        }
        @media screen and (min-width: $minComputerWidth) {
            border: 15px solid $color1;
            border-radius: 1em;
        }
    }
    .item__image-zoom {
        top: -24px;
    }
}
