/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import 'base/variables';
@import 'base/cards';
@import 'base/sections';
@import 'base/tables';
@import 'base/forms';
@import 'base/dashboard';
@import 'base/dialogs';
@import 'base/events';
html,
body {
    height: 100%;
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    a {
        color: $color1;
        border-bottom: 1px dotted $color2;
        text-decoration: none;
    }
    a:hover {
        color: $color2;
        border-bottom: 0px;
        text-decoration: none;
    }
}

.preview {
    border: 1px solid darkgray;
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, .8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

// NAV
.buttons {
    margin-top: 5px;
    text-align: right;
    button.btn-1,
    button.btn-2,
    button.btn-extra,
    button.btn-alert {
        margin: 5px !important;
    }
    button.btn-1 {
        background-color: $color1;
    }
    button.btn-2 {
        background-color: $color2;
    }
    button.btn-extra {
        background-color: $colorExtra;
    }
    button.btn-alert {
        background-color: $colorAlert;
    }
}

.section-list-options {
    display: flex;
    margin-bottom: 20px;
    .buttons {
        margin-left: 20px;
    }
}