/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import 'base/cards';
@import 'base/sections';
@import 'base/tables';
@import 'base/forms';
@import 'base/dashboard';
@import 'base/dialogs';
@import 'base/events';
html,
body {
    height: 100%;
    //background-color: black;
    //color: white;
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    a {
        color: hotpink;
        border-bottom: 1px dotted hotpink;
        text-decoration: none;
    }
    a:hover {
        color: white;
        border-bottom: 0px;
        text-decoration: none;
    }
}

.preview {
    border: 1px solid darkgray;
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}


/*
div.mat-chip-list-wrapper {
  margin-top: 20px;
}
*/

@media (max-width: 700px) {
    td.td-date {
        width: 80px;
        max-width: 80px;
    }
    .td-extra {
        display: none !important;
    }
}

@media (min-width: 701px) {
    td.td-date {
        width: 120px;
        max-width: 120px;
    }
    .td-collapsed-info {
        width: 501px;
        max-width: 501px;
        display: none !important;
    }
}
