<app-section-header [title]="'Panel de novedades'"></app-section-header>

<div class="section-wrapper">

    <div class="section-main-info text-center">
        ¡Bienvenido a Rincón de Soto!
    </div>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Eventos">
            <div class="events">
                <!--<div class="title">La Agenda Rinconera</div>-->
                <div class="inner-events">
                    <app-calendar [showHeader]="false"></app-calendar>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Avisos">
            <div class="notices">
                <!--<div class="title">La Esquina del Tío Valero</div>-->
                <app-notices-dashboard [showHeader]="false"></app-notices-dashboard>
            </div>
        </mat-tab>
        <mat-tab label="Enlaces">
            <div class="links">
                <!--<div class="title">Ebro News</div>-->
                <app-links-dashboard [showHeader]="false"></app-links-dashboard>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>
