<app-section-header [title]="'Perfil de Usuario'"></app-section-header>

<div class="section-wrapper">

    <mat-card class="item-view" *ngIf="user$ | async as user; else noUserTemplate">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
                <img [src]="user.photoURL" class="img-thumbnail">
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                <mat-card-content class="item-view">

                    <div>
                        <span>Nombre:</span>
                        <h2>{{ user.displayName }}</h2>
                    </div>

                    <div>
                        <span>Email:</span>
                        <h2>{{ user.email }}</h2>
                    </div>

                </mat-card-content>

                <mat-card-actions>

                    <!--
                <button mat-raised-button type="button" (click)="gotoList()" color="warn">Volver al listado</button> &nbsp;
                <button mat-raised-button type="button" (click)="editItem()" color="warn">Editar</button>
                -->

                </mat-card-actions>

            </div>
        </div>

    </mat-card>

</div>

<ng-template #noUserTemplate>
    No existe tal usuario
</ng-template>
