<app-section-header [title]="'Panel de Configuración de Entidades'"></app-section-header>

<div class="section-wrapper">

    <div class="section-list-options">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="buttons">
            <button mat-mini-fab class="btn-1" (click)="addItem()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="roleDefault">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Rol</th>
                <td mat-cell class="td-extra-lg" *matCellDef="let entity">
                    <div class="inside">{{ entity.roleDefault }}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Id.</th>
                <td mat-cell class="td-extra-lg" *matCellDef="let entity">{{ entity.id }}</td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <img (click)="gotoEntity(element)" [src]="element.image" class="img-thumbnail" alt="element.name">
                </td>
            </ng-container>

            <ng-container matColumnDef="collapsed-info">
                <th mat-header-cell class="td-collapsed-info" *matHeaderCellDef mat-sort-header>Info de la entidad</th>
                <td mat-cell class="td-collapsed-info" *matCellDef="let item" (click)="gotoItem(item)">
                    <div class="full-inside">
                        {{ item.description }}
                    </div>
                    {{ item.name }}
                    <div style="font-size: smaller;color:gray">
                        {{ item?.place?.name }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Nombre de la entidad</th>
                <td mat-cell class="td-extra-lg" *matCellDef="let entity">{{ entity.name }}</td>
            </ng-container>

            <ng-container matColumnDef="categories">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Categorías</th>
                <td mat-cell class="td-extra-lg" *matCellDef="let entity">{{ entity.description }}</td>
            </ng-container>

            <ng-container matColumnDef="placeImage">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef></th>
                <td mat-cell class="td-extra-lg" *matCellDef="let element">
                    <img *ngIf="element?.place?.image" [src]="element?.place?.image" class="img-thumbnail" alt="element?.place?.image">
                </td>
            </ng-container>

            <ng-container matColumnDef="placeName">
                <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Lugar por defecto</th>
                <td mat-cell class="td-extra-lg" *matCellDef="let entity">{{ entity?.place?.name }}</td>
            </ng-container>

            <ng-container matColumnDef="actions3">
                <th mat-header-cell class="td-extra-md" *matHeaderCellDef>Acciones </th>
                <td mat-cell class="td-extra-md" *matCellDef="let entity">
                    <button mat-icon-button matTooltip="Click to View" class="iconbutton" (click)="gotoEntity(entity)">
                        <mat-icon class="btn-1" aria-label="View">
                            remove_red_eye
                        </mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" (click)="editEntity(entity)">
                        <mat-icon class="btn-1" aria-label="Edit">
                            build_circle
                        </mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="deleteEntity(entity)">
                        <mat-icon class="btn-1" aria-label="Delete">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

    </div>

</div>
