<app-section-header [title]="'Acceder'"></app-section-header>

<div *ngIf="afAuth.authState | async as user; else noAuthTemplate" class="logout">
    <p>
        Has accedido como <strong>{{ user.email }}</strong>
    </p>

    <button mat-stroked-button (click)="afAuth.signOut()">Salir</button>
</div>

<ng-template #noAuthTemplate>
    <div *ngIf="!(afAuth.authState | async)" class="section-wrapper">
        <button mat-raised-button appGoogleSignin>
        <img src="/assets/google-logo.svg" /> Acceso con Google
      </button>
        <h5>o</h5>
        <app-email-login></app-email-login>
    </div>
</ng-template>
