<mat-card (click)="gotoEvent()" class="item-card" [class]="event.status" *ngIf="event; else loadingTemplate">

    <span *ngIf="event.status !== 'VISIBLE'" class="item-status" [class]="event.status">
      {{ event.status }}
    </span>

    <mat-card-header>
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ event.extra2 }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="getMediumImage(event.imagePath)" class="img-thumbnail" [alt]="event.name">
    <mat-card-content class="item-content">
        <span class="item-timestamp">
            Actualizado hace {{ event.timestamp }}
        </span>
    </mat-card-content>

    <mat-card-actions>
        <app-event-social [event]="event" [userLogged]="userLogged"></app-event-social>
    </mat-card-actions>

</mat-card>

<ng-template #loadingTemplate>
    Cargando...
</ng-template>