div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    .buttons {
        // button.btn-nav {
        //     background-color: #003A59;
        // }
        // button.btn-nav+button.btn-nav {
        //     margin-left: 5px;
        // }
        button.btn-extra {
            margin-left: 20px !important
        }
    }
    .title {
        font-size: x-large;
        color: #003A59;
    }
}
