@import '../../../../base/variables';
.container {
    margin-top: 0px;
    margin-bottom: 10px;
    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        .title__nav {
            order: 1;
        }
        .title__name {
            order: 2;
            color: $color1;
            text-transform: uppercase;
            font-size: larger;
            font-weight: bolder;
        }
        .title__mode {
            order: 3;
        }
    }
}

@media screen and (max-width: 600px) {
    .title__name {
        display: none;
    }
    button.btn-extra.mat-accent,
    button.btn-1.mat-accent {
        margin: 4px !important;
    }
}

@media screen and (max-width: 400px) {
    .title__name {
        display: none;
    }
    button.btn-extra.mat-accent,
    button.btn-1.mat-accent {
        margin: 2px !important;
    }
}

@media screen and (max-width: 350px) {
    .title__mode {
        display: none;
    }
}
