.card-detail {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    input {
        color: black !important;
    }
}

.card-detail-block {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    img.img-thumbnail {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 10px;
    }
    span.desc {
        color: #333333;
        font-size: smaller;
        text-transform: uppercase;
    }
    span.name {
        color: black;
        font-size: larger;
        font-weight: bolder;
    }
}

.card-chip-list mat-chip-list div {
    margin-top: 0px;
    span {
        font-size: smaller;
    }
}

.mat-tab-body-content {
    overflow: hidden !important;
}

mat-card-content.item-view {
    div {
        margin-bottom: 30px;
        img {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 10px;
        }
    }
}
