.backdrop-dialog {
    background-color: rgba(0, 0, 0, 0.8);
}

.mat-dialog-title {
    text-align: center;
}

mat-dialog-container {
    mat-form-field {
        width: 100%;
    }
}

.mat-dialog-content.dialog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-form-field {
        width: 100%;
    }
    img.container__image {
        width: 200px;
        margin-bottom: 20px;
        border: 1px dotted lightgray;
        padding: 4px;
    }
}
