$color1: #003A59;
$color2: #DEEEEC;
$colorExtra: #3E8B82;
$colorExtra2: #ff4081;
$colorAdmin: #ff4081;
$colorAlert: gold;
$colorAlertBack: lightgoldenrodyellow;
// Colors visible-editing-blocked-deleted
$colorSuccess: darkgreen;
$colorSuccessBack: lightgreen;
$colorWarning: #856404;
$colorWarningBack: #fff3cd;
$colorDanger: darkred;
$colorDangerBack: lightcoral;
$colorDelete:black;
$colorDeleteBack: #505050;
// Tables and lists
$colorRowEnabledBg: white;
$colorRowDisabledBg: lightgray;
$colorRowDisabledData: darkgray;
$colorTitleData: black; // Data, titles or info
$colorExtraData: #333333;
