$color1: #003A59;
$color2: #DEEEEC;
$colorExtra: #3E8B82;
$colorExtra2: #ff4081;
$colorAlert: gold;
// Colors visible-editing-blocked-deleted
$colorSuccess: darkgreen;
$colorSuccessBack: lightgreen;
$colorWarning: #856404;
$colorWarningBack: #fff3cd;
$colorDanger: darkred;
$colorDangerBack: lightcoral;
$colorDelete:black;
$colorDeleteBack: #505050;
