img.img-thumbnail {
    width: 48px;
    height: 48px;
}

.desc {
    color: #333333;
    font-size: smaller;
    text-transform: uppercase;
}

.name {
    color: black;
    font-size: larger;
    font-weight: bolder;
}