<app-section-header [title]="'Auditoría de eventos'" showStatusFilter="true" showViewMode="true" (viewMode)="setViewMode($event)" (statusFiltered)="setStatusFiltered($event)"></app-section-header>

<div *ngIf="events.length > 0; else noEventsTemplate">

    <div class="section-wrapper">

        <!-- LIST View -->
        <div *ngIf="viewMode === 'list'">

            <div class="section-list-options">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Estado</th>
                        <td mat-cell [class]="event.status" class="td-extra-lg" *matCellDef="let event">
                            <div class="inside">{{ event.status | status }}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Actualizado</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">hace {{ event.timestamp }}</td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <img (click)="gotoItemConfig(element)" [src]="element.imagePath" class="img-thumbnail" alt="element.name">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="collapsed-info">
                        <th mat-header-cell class="td-collapsed-info" *matHeaderCellDef mat-sort-header>Info del Evento</th>
                        <td mat-cell class="td-collapsed-info" [class]="event.status" *matCellDef="let event" (click)="gotoItemConfig(event)">
                            <div class="inside"></div>
                            <div style="font-size: smaller;color:gray">
                                {{ event.dateIni | date:'EEEE, d \'de\' MMMM' }}
                            </div>
                            {{ event.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Evento</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">{{ event.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="auditCreation">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Creación</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">{{ event.auditCreation | json }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>

        </div>
        <!-- LIST View - End -->


        <!-- CARDS View -->
        <div *ngIf="viewMode === 'cards'">

            <div class="form-group">
                <input type="text" class="form-control mb-4" placeholder="Filtrar Búsqueda" [(ngModel)]="query" id="listSearch">
            </div>

            <div class="section-cards">
                <div class="item-card" *ngFor="let event of events | searchFilter: query">

                    <app-event-card [event]="event"></app-event-card>

                </div>
            </div>
        </div>
        <!-- CARDS View - End -->

    </div>

</div>


<ng-template #noEventsTemplate>
    <div class="m-3 alert alert-warning">
        ¡No se han encontrado eventos a tu nombre!
    </div>
</ng-template>
