<app-section-header [title]="'Auditoría de eventos'"></app-section-header>

<div *ngIf="events.length > 0; else noEventsTemplate">

    <div class="section-wrapper">

        <!-- LIST View -->
        <div *ngIf="viewMode === 'list'">

            <div class="section-list-options">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef>Estado</th>
                        <td mat-cell [class]="event.status" class="td-extra-lg" *matCellDef="let event">
                            <div class="inside">{{ event.status | status }}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Actualizado</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">hace {{ event.timestamp }}</td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <img (click)="gotoItemConfig(element)" [src]="element.imagePath" class="img-thumbnail" alt="element.name">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="collapsed-info">
                        <th mat-header-cell class="td-collapsed-info" *matHeaderCellDef mat-sort-header>Info del Evento</th>
                        <td mat-cell class="td-collapsed-info" [class]="event.status" *matCellDef="let event" (click)="gotoItemConfig(event)">
                            <div class="inside"></div>
                            <div style="font-size: smaller;color:gray">
                                {{ event.dateIni | date:'EEEE, d \'de\' MMMM' }}
                            </div>
                            {{ event.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>Evento</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event">{{ event.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="auditCreation">
                        <th mat-header-cell class="td-audit" *matHeaderCellDef mat-sort-header>Creación</th>
                        <td mat-cell class="td-audit" *matCellDef="let event">
                            <div *ngIf="event.auditCreation">
                                <div class="inside"></div>
                                <div style="font-size: smaller;color:gray">
                                    🕑 {{ event.auditCreation?.timestamp | date:'EEEE, d \'de\' MMMM hh:mm' }}
                                </div>
                                <div style="font-size: smaller;color:#808080">😀 {{ event.auditCreation?.userName }}</div>
                                <div style="font-size: smaller;color:#303030">🟢 {{ event.auditCreation?.name }}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="auditLastItem">
                        <th mat-header-cell class="td-audit" *matHeaderCellDef mat-sort-header>Última Mod.</th>
                        <td mat-cell class="td-audit" *matCellDef="let event">
                            <div *ngIf="event.auditLastItem">
                                <div class="inside"></div>
                                <div style="font-size: smaller;color:gray">
                                    🕑 {{ event.auditLastItem?.timestamp | date:'EEEE, d \'de\' MMMM hh:mm' }}
                                </div>
                                <div style="font-size: smaller;color:#808080">😀 {{ event.auditLastItem?.userName }}</div>
                                <div style="font-size: smaller;color:#303030">🟡 {{ event.auditLastItem?.description }}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nAuditItems">
                        <th mat-header-cell class="td-extra-lg" *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell class="td-extra-lg" *matCellDef="let event"><span *ngIf="event.auditItems?.length > 1" style="font-size: smaller;">{{ event.auditItems?.length }} modifs.</span></td>
                    </ng-container>

                    <ng-container matColumnDef="actions2">
                        <th mat-header-cell class="td-extra-md" *matHeaderCellDef>Acciones </th>
                        <td mat-cell class="td-extra-md" *matCellDef="let event">

                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" (click)="gotoItemConfig(event)">
                                <mat-icon class="btn-1" aria-label="Edit">
                                    build_circle
                                </mat-icon>
                            </button>

                            <button *ngIf="event.status === 'VISIBLE'" mat-icon-button matTooltip="Click to View" class="iconbutton" (click)="gotoItem(event)">
                                <mat-icon class="btn-1" aria-label="View">
                                    remove_red_eye
                                </mat-icon>
                            </button>

                            <button *ngIf="event.status === 'EDITING'" mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="deleteItem(event)">
                                <mat-icon class="btn-1" aria-label="Delete">
                                    delete
                                </mat-icon>
                            </button>

                            <button *ngIf="event.status==='DELETED'" mat-icon-button class="iconbutton" (click)="deleteForeverItem(event)">
                                <mat-icon class="btn-1" aria-label="Delete Forever">
                                    delete_forever
                                </mat-icon>
                            </button>

                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>

        </div>
        <!-- LIST View - End -->


        <!-- CARDS View -->
        <div *ngIf="viewMode === 'cards'">

            <div class="form-group">
                <input type="text" class="form-control mb-4" placeholder="Filtrar Búsqueda" [(ngModel)]="query" id="listSearch">
            </div>

            <div class="section-cards">
                <div class="item-card" *ngFor="let event of events | searchFilter: query">

                    <app-event-card [event]="event"></app-event-card>

                </div>
            </div>
        </div>
        <!-- CARDS View - End -->

    </div>

</div>


<ng-template #noEventsTemplate>
    <div class="m-3 alert alert-warning">
        ¡No se han encontrado eventos a tu nombre!
    </div>
</ng-template>