<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">

        <mat-toolbar>Menu</mat-toolbar>

        <mat-nav-list class="buttons">
            <div *ngFor="let link of LINKS">
                <mat-list-item *appRole="link.roles" [routerLink]="link.path" (click)="drawer.close()">
                    <button mat-mini-fab class="btn-1">
                        <mat-icon>{{ link.icon }}</mat-icon>
                    </button>
                    <span class="list-item">{{ link.name }}</span>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </div>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z8" color="primary">

            <span class="logo" routerLink="/">
              <img [src]="'assets/icons/logo.png'" [ngClass]="{'alerted-logo' : (theAlertedNotice$ | async)}" alt='inicio' class="rounded-circle" />
            </span>

            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && (afAuth.authState | async)">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <span class="logo-title">
              Agenda Rinconera
            </span>

            <span class="fill-space"></span>

            <div *ngIf="(isHandset$ | async)">
                <div *ngIf="(afAuth.authState | async);else login2Template">

                    <a *appRole="['AUTOR', 'ADMIN', 'SUPER']" mat-button routerLink="/eventos/new">
                        ➕
                        <span class="text-extra">Evento</span>
                    </a>


                    <a *appRole="['LECTOR', 'AUTOR', 'ADMIN', 'SUPER']" mat-button routerLink="/admin">
                        ⚙️
                        <span class="text-extra">Admin</span>
                    </a>

                    <a mat-button (click)="onLogout()">
                        🔐
                        <span class="text-extra">Salir</span>
                    </a>

                    <a mat-button routerLink="/perfil" *ngIf="afAuth.authState | async as user">
                        <img class="avatar" [src]="user.photoURL || 'assets/default-user.svg'">
                        <span class="text-extra">Perfil</span>
                    </a>

                </div>

                <ng-template #login2Template>
                    <a mat-button routerLink="/login">🔑 Login</a>
                </ng-template>

            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="'/about'">
                    <i>💡</i>
                    <span>Acerca de esta WebApp</span>
                </a>
                <a mat-menu-item target="_blank" href="http://www.rincondesoto.org/">
                    <i>🏛️</i>
                    <span>Ayuntamiento de Rincón</span>
                </a>
                <a mat-menu-item target="_blank" href="http://perasderincondesoto.com/">
                    <i>🍐</i>
                    <span>Peras de Rincón de Soto</span>
                </a>

                <div *ngIf="afAuth.authState | async; else loginTemplate">

                    <a mat-menu-item href="./admin">
                        <i>⚙️</i>
                        <span>Administración</span>
                    </a>

                    <a *appRole="['AUTOR', 'ADMIN', 'SUPER']" mat-menu-item href="./eventos/new">
                        <i>➕</i>
                        <span>Crear evento</span>
                    </a>

                    <a mat-menu-item (click)="onLogout()">
                        <i>🔐</i>
                        <span>Cerrar Sesión</span>
                    </a>

                </div>

                <ng-template #loginTemplate>
                    <a mat-menu-item [routerLink]="'/login'">
                        <i>🔑</i>
                        <span>Acceder con cuenta</span>
                    </a>
                </ng-template>

            </mat-menu>
        </mat-toolbar>

        <ng-content></ng-content>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>

<!--
<pre *ngIf="alertedNotices">
{{ alertedNotices | json }}
</pre>
-->
