@import '../../../../base/variables';
div.button-toggle-container {
    margin-bottom: 30px;
    .mat-button-toggle-group {
        flex-wrap: wrap;
        display: grid;
        .mat-button-toggle.button__link-type {
            white-space: normal;
        }
    }
}

.mat-button-toggle-checked {
    border: 2px solid $color1 !important;
    border-radius: 5px !important;
    background-color: $color2 !important;
}

.link-item-type-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 4px 0px;
    margin: 0px 0px 20px 0px;
}

// .link-item-type-option {
//     width: 100%;
//     height: 32px;
//     display: block;
//     text-align: center;
//     margin-top: 10px;
// }
div.images-container {
    border: 1px dotted lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    img {
        margin: 10px;
        border: 1px solid darkgray;
        width: 100px;
        height: 100px; // TODO center, no resize
    }
}

img.selected-image {
    padding: 3px;
    border: 3px solid $colorExtra !important;
    border-radius: 1em;
}

.description-wrapper {
    flex-direction: column;
}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir='rtl'] .option-img {
    margin-right: 0;
    margin-left: 8px;
}
